@import "../../Scss/colors";
@import "../../Scss/fonts";
@import "../../Scss/components";

*,
*::before,
*::after {
  margin: 0;
}

.edit-address-page-container {
  height: 50rem;
  padding: 2.5rem 19.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .container-1 {
    flex-direction: column;

    .my-account-header {
      h3 {
        font-family: $primary-fonts;
        padding: 0 0 2rem 0;
      }
    }

    .edit-new-address-container {
      display: flex;
      flex-direction: column;

      h6 {
        font-family: $primary-fonts;
        padding: 0 0 2rem 0;
      }

      .address-form-container {
        background: $white-color;
        width: 33.75rem;
        height: 27.5rem;
        left: 0 0 0 5.125rem;
        top: 16.25rem 0 0 0;
        box-shadow: 0rem 0.5rem 1rem -0.25rem rgba(16, 24, 40, 0.04),
          0px 0.25rem 0.5rem -0.125rem rgba(16, 24, 40, 0.04);

        .address-form-content {
          padding: 1.688rem;
          .address-form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            padding: 0rem;

            gap: 1rem;
            padding: 0 0 1rem 0;

            label {
              font-family: "Lexend Deca";
              font-style: normal;
              font-weight: 500;
              font-size: 0.875rem;
              line-height: 120%;
            }

            .address-line-container {
              display: flex;
              flex-direction: column;
              gap: 1.25rem;

              input[type="text"] {
                border-radius: 0.25rem;
                width: 28.75rem;
                background-color: $grey-tint;
                font-family: $secondary-fonts;
                padding: 0.5rem 0.75rem;
              }

              .address-line-1 {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
              }

              .address-line-2 {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
              }

              .address-line-3 {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
              }
            }

            .postcode-and-state-container {
              display: flex;
              flex-direction: row;

              input {
                border-radius: 0.25rem;
                width: 13.75rem;
                background-color: $grey-tint;
                font-family: $secondary-fonts;
                padding-left: 0.75rem;
              }
            }
          }

          .buttons {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding: 3rem 0 0 0;
            gap: 3rem;

            .cancel-btn {
              background-color: transparent;
              border: none;
              font-family: $primary-fonts;
              font-weight: map-get($map: $font-weight, $key: "medium");
              font-size: 1rem;
              line-height: 120%;
            }

            .update-address-btn {
              background-color: $secondary-color;
              border: none;
              font-family: $primary-fonts;
              font-weight: map-get($map: $font-weight, $key: "medium");
              font-size: 1rem;
              color: $white-color;
              line-height: 120%;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              padding: 0.5rem 1.5rem;
              gap: 0.5rem;
              border-radius: 0.125rem;
              height: 2.5rem;
              cursor: pointer;

              &:hover {
                background-color: $secondary-hover-color;
              }

              &:disabled,
              button[disabled] {
                background-color: $grey-color;
                color: #666666;

                pointer-events: none;
              }
            }
          }

          .errMsg {
            padding: 1rem 0 0 0;
            p {
              font: $primary-fonts;
              font-size: 12px;
              font-weight: bold;
              color: $error-color;
            }
          }

          .updatedMsg {
            padding: 1rem 0 0 0;
            p {
              font: $primary-fonts;
              font-size: 12px;
              font-weight: bold;
              color: $primary-color;
            }
          }
        }
      }
    }
  }
  .navigation-buttons {
    justify-self: flex-end;
    padding-top: 1.5rem;

    .return {
      display: flex;
      justify-content: flex-end;
      cursor: pointer;

      p {
        font-family: $primary-fonts;
        font-size: 1rem;
        font-weight: map-get($map: $font-weight, $key: "medium");
        line-height: 120%;
        padding-bottom: 1.813rem;
        align-items: center;
      }

      svg {
        font-size: 1.25rem;
        align-items: center;
      }
    }
    .return:hover,
    svg:hover {
      color: $primary-hover-dark-color;
      cursor: pointer;
    }

    .back-btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 92%;
      padding: 1rem;
      margin: 0 0 0 8%;
      gap: 0.5rem;
      background: $primary-color;
      border-radius: 0.125rem;
      border: none;
      align-items: center;
      // font styling
      color: $white-color;
      font-family: $primary-fonts;
      font-weight: map-get($map: $font-weight, $key: "medium");
      font-size: 0.875rem;
      line-height: 120%;

      &:hover {
        background-color: $secondary-color;
      }
    }
  }
}

// Tablet
@media screen and (max-width: 961px) {
  .edit-address-page-container {
    padding: 2.5rem 2rem;

    .container-1 {
      .my-account-header {
        h3 {
          font-size: 2.25rem;
        }
      }

      .edit-new-address-container {
        h6 {
          font-size: 1.25rem;
        }
      }
    }

    .navigation-buttons {
      padding-top: 1rem;
    }
  }
}
