@import "../../Scss/colors";
@import "../../Scss/fonts";
@import "../../Scss/components";

*,
*::before,
*::after {
  margin: 0;
}

.edit-address-page-container {
  height: 50rem;
  padding: 2.5rem 19.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .container-1 {
    flex-direction: column;

    .my-account-header {
      h3 {
        font-family: $primary-fonts;
        padding: 0 0 2rem 0;
      }
    }

    .edit-new-address-container {
      display: flex;
      flex-direction: column;

      p {
        font-family: $primary-fonts;
        font-weight: map-get($map: $font-weight, $key: "semibold");
        font-size: 1.875rem;
        line-height: 120%;
        padding: 0 0 2rem 0;
      }

      .address-form-container {
        background: $white-color;
        width: 33.75rem;
        height: 27.5rem;
        left: 0 0 0 5.125rem;
        top: 16.25rem 0 0 0;
        box-shadow: 0rem 0.5rem 1rem -0.25rem rgba(16, 24, 40, 0.04),
          0px 0.25rem 0.5rem -0.125rem rgba(16, 24, 40, 0.04);

        .address-form-content {
          padding: 1.688rem;
          .address-form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            padding: 0rem;

            gap: 1rem;
            padding: 0 0 1rem 0;

            label {
              font-family: "Lexend Deca";
              font-style: normal;
              font-weight: 500;
              font-size: 0.875rem;
              line-height: 120%;
            }

            .address-line-container {
              display: flex;
              flex-direction: column;
              gap: 1.25rem;

              input[type="text"] {
                border-radius: 0.25rem;
                width: 28.75rem;
                background-color: $grey-tint;
                font-family: $secondary-fonts;
                padding: 0.5rem 0.75rem;
              }

              .address-line-1 {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
              }

              .address-line-2 {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
              }

              .address-line-3 {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
              }
            }

            .postcode-and-state-container {
              display: flex;
              flex-direction: row;

              input {
                border-radius: 0.25rem;
                width: 13.75rem;
                background-color: $grey-tint;
                font-family: $secondary-fonts;
                padding-left: 0.75rem;
              }
            }

            // .default {
            //   display: block;
            //   padding-left: 26px;
            //   // margin-top: 16px;
            //   // margin-bottom: 8px;
            //   position: relative;
            //   cursor: pointer;
            //   -webkit-user-select: none;
            //   -moz-user-select: none;
            //   -ms-user-select: none;
            //   user-select: none;

            //   // label {
            //   font-family: "Lexend Deca";
            //   font-style: normal;
            //   font-weight: 500;
            //   font-size: 0.9rem;
            //   line-height: 120%;

            //   // }
            // }

            // .default input {
            //   position: absolute;
            //   opacity: 0;
            //   cursor: pointer;
            //   height: 0;
            //   width: 0;
            // }
            // .checkmark {
            //   position: absolute;
            //   top: 0;
            //   left: 0;
            //   height: 18px;
            //   width: 18px;
            //   background-color: #eee;
            //   border-radius: 4px;
            // }
            // .checkmark:after {
            //   content: "";
            //   position: absolute;
            //   display: none;
            // }
            // .default:hover input ~ .checkmark {
            //   background-color: #ccc;
            // }
            // .default input:checked ~ .checkmark {
            //   background-color: $primary-color;
            // }
            // .default input:checked ~ .checkmark:after {
            //   display: block;
            // }
            // .default .checkmark:after {
            //   left: 7px;
            //   top: 3px;
            //   width: 5px;
            //   height: 10px;
            //   border: solid white;
            //   border-width: 0 3px 3px 0;
            //   -webkit-transform: rotate(45deg);
            //   -ms-transform: rotate(45deg);
            //   transform: rotate(45deg);
            // }
          }

          .buttons {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding: 3rem 0 0 0;
            gap: 3rem;

            .cancel-btn {
              background-color: transparent;
              border: none;
              font-family: $primary-fonts;
              font-weight: map-get($map: $font-weight, $key: "medium");
              font-size: 1rem;
              line-height: 120%;
            }

            .update-address-btn {
              background-color: $secondary-color;
              border: none;
              font-family: $primary-fonts;
              font-weight: map-get($map: $font-weight, $key: "medium");
              font-size: 1rem;
              color: $white-color;
              line-height: 120%;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              padding: 0.5rem 1.5rem;
              gap: 0.5rem;
              border-radius: 0.125rem;
              height: 2.5rem;
            }
          }
        }
      }
    }
  }
  .navigation-buttons {
    justify-self: flex-end;
    padding-top: 1.5rem;

    .return {
      display: flex;
      justify-content: flex-end;
      cursor: pointer;

      p {
        font-family: $primary-fonts;
        font-size: 1rem;
        font-weight: map-get($map: $font-weight, $key: "medium");
        line-height: 120%;
        padding-bottom: 1.813rem;
        align-items: center;
      }

      svg {
        font-size: 1.25rem;
        align-items: center;
      }
    }
    .return:hover,
    svg:hover {
      color: $primary-hover-dark-color;
    }

    .back-btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 92%;
      padding: 1rem;
      margin: 0 0 0 8%;
      gap: 0.5rem;
      background: $primary-color;
      border-radius: 0.125rem;
      border: none;
      align-items: center;
      // font styling
      color: $white-color;
      font-family: $primary-fonts;
      font-weight: map-get($map: $font-weight, $key: "medium");
      font-size: 0.875rem;
      line-height: 120%;

      &:hover {
        background-color: $secondary-color;
      }
    }
  }
}
