@import "../../Scss/colors";
@import "../../Scss/fonts";
@import "../../Scss/components";

// Reset All Elements
*,
*::after,
*::before {
  margin: 0;
}

.about-page {
  height: 100%;
  padding: 0 19.5rem;

  .about-content {
    height: 18.25rem;
    padding: 0 0 2.5rem 0;

    .about-content-title {
      h3 {
        font-family: $primary-fonts;
        padding: 2.5rem 0 0.25rem 0;
      }
    }

    hr {
      width: 10%;
      background-color: $primary-color;
      border: 0.188rem solid $primary-color;
    }

    .about-content-text {
      p {
        font-family: $secondary-fonts;
        font-weight: map-get($map: $font-weight, $key: "medium");
        font-size: 1.25rem;
        line-height: 160%;
        padding: 2rem 0 0;
      }

      .about-content-text {
        width: 10rem;
      }
    }
  }

  .developers-content {
    .profile {
      display: flex;
      flex-direction: column;
      position: relative;
      max-width: 60rem;
      animation: loadProfileAnimation 0.6s ease-in-out;
      animation-fill-mode: both;
      padding: 0 0 3.5rem;
      margin: auto;
    }

    .profile-bg {
      position: absolute;
      bottom: 0;
      right: 0;
      border-radius: 0.5rem;
      background-color: $white-color;
      max-width: calc(100% - 5rem);
      z-index: -1;
    }

    .profile-container {
      @include card-drop-shadow;
      border-radius: 0.25rem;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: stretch;
    }

    .profile-image {
      animation: loadProfileImage 1s ease-in-out 0.5s;
      animation-fill-mode: both;
      position: relative;
      border-radius: 0.625rem;
      box-shadow: 0 1.563rem 2.813rem -1.25rem rgba(255, 138, 101, 0.25),
        inset 0 0 7.5rem rgba(255, 138, 101, 0.45);
      width: 35%;
      flex: none;
      background-size: cover;
      background-position: center;
    }

    .profile-image::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 0.25rem;
      background-color: $secondary-color;
      opacity: 0.8;
      mix-blend-mode: screen;
    }

    .profile-info {
      margin-top: 8.75rem;
      padding: 4% 6% 2%;
      position: relative;

      h4 {
        font-family: $primary-fonts;
        padding: 0.5rem 0;
        position: absolute;
        animation-fill-mode: both;
        text-transform: uppercase;
      }

      .first-name {
        animation: nameEffect 1s cubic-bezier(0, 0.2, 0.4, 1);
        top: -115px;
        left: -65px;
      }

      .second-name {
        animation: nameEffect 1s cubic-bezier(0, 0, 0.3, 1);
        top: -50px;
        left: -25px;
      }

      h6 {
        font-family: $primary-fonts;
        font-size: 1.125rem;
        font-weight: map-get($map: $font-weight, $key: "semibold");
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        padding: 0 0 0.825rem 0;
      }

      p {
        font-family: $secondary-fonts;
        font-size: 1rem;
        font-weight: map-get($map: $font-weight, $key: "medium");
        line-height: 160%;
        padding: 0 0 0.75rem 0;
      }
    }

    @keyframes loadProfileAnimation {
      from {
        transform: translateY(6.25rem);
        opacity: 0;
      }
      to {
        transform: translateY(0rem);
        opacity: 1;
      }
    }

    @keyframes loadProfileImage {
      from {
        transform: translateY(3.125rem);
        opacity: 0;
      }
      to {
        transform: translateY(0rem);
        opacity: 1;
      }
    }

    @keyframes nameEffect {
      from {
        transform: translateX(-4.688rem);
        opacity: 0;
      }
      to {
        transform: translateX(0rem);
        opacity: 1;
      }
    }
  }
}

// Tablet
@media screen and (max-width: 961px) {
  .about-page {
    height: 100%;
    padding: 0 2rem;

    .about-content {
      height: 17.75rem;
      padding: 0 0 2.5rem 0;

      .about-content-title {
        h3 {
          font-family: $primary-fonts;
          font-size: 2.25rem;
          padding: 2.5rem 0 0.25rem 0;
        }
      }

      hr {
        width: 8rem;
        background-color: $primary-color;
        border: 0.188rem solid $primary-color;
      }

      .about-content-text {
        p {
          font-family: $secondary-fonts;
          font-weight: map-get($map: $font-weight, $key: "medium");
          font-size: 1.125rem;
          line-height: 160%;
          padding: 2rem 0 0;
        }

        .about-content-text {
          width: 10rem;
        }
      }
    }

    .developers-content {
      .profile {
        margin: auto;
        max-width: 50rem;
      }

      .profile-bg {
        max-width: calc(100% - 5rem);
      }

      .profile-info {
        margin-top: 6.875rem;

        h4 {
          font-size: 1.75rem;
          padding: 0.25rem 0;
        }

        .first-name {
          animation: nameEffect 1s cubic-bezier(0, 0.2, 0.4, 1);
          top: -85px;
          left: -65px;
        }

        .second-name {
          animation: nameEffect 1s cubic-bezier(0, 0, 0.3, 1);
          top: -35px;
          left: -25px;
        }
      }
    }
  }
}
