@import "../../Scss/colors";
@import "../../Scss/fonts";
@import "../../Scss/components";

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

.item-details-page-container {
  display: flex;
  flex-direction: column;
  padding: 0 18rem;

  .product-directory {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 1rem;
    padding: 2.5rem 0 2.5rem 0;

    p {
      font-family: "Lexend Deca";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
    }
  }
  .above-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin: 0 0 3rem 0;

    background: $bluegrey-tint;
    box-shadow: 0px 8px 16px -4px rgba(16, 24, 40, 0.04),
      4px 4px 8px -2px rgba(16, 24, 40, 0.04);
    border-radius: 0.5rem;
    .image-container {
      display: flex;
      align-self: flex-start;
      height: fit-content;
      width: fit-content;

      .discount-percentage {
        display: flex;
        flex-direction: row;
        height: fit-content;
        width: fit-content;
        padding: 0.5rem;
        position: absolute;
        border-radius: 0.3rem;
        background-color: red;
        z-index: 2;
        margin: 1rem 1.6rem;

        text {
          color: $white-color;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 120%;
        }
      }
      img {
        height: 20rem;
        width: 20rem;
        border-radius: 0.5rem;
        z-index: 1;
        margin: 2rem 2.5rem;
        object-fit: cover;
      }
    }

    .item-info-container {
      height: fit-content;
      width: 100%;
      padding: 2rem 3.438rem;

      .item-info {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 1rem;

        .item-name {
          font-family: "Lexend Deca";
        }
        .description-header {
          font-family: "Lexend Deca";
          font-style: normal;
          font-weight: 700;
          font-size: 1.25rem;
          line-height: 120%;
          color: $primary-color;
        }
        .description {
          font-family: "Poppins";
          font-weight: 500;
          font-size: 1rem;
          line-height: 160%;
          padding: 0 0 1rem 0;
        }
      }

      hr {
        border: 1px solid $black-color;
      }

      .actions {
        padding: 1rem 0 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .price-quantity {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 1rem;

          .only-price {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            .new-price {
              display: flex;
              gap: 0.5rem;
              align-items: flex-end;
              font-family: "Lexend Deca";
              font-style: normal;
              font-weight: 500;
              font-size: 24px;
              line-height: 120%;
              .RM {
                font-family: "Lexend Deca";
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 120%;
              }
              .price-value {
                font-family: "Lexend Deca";
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                line-height: 120%;
                color: $secondary-color;
              }
            }
            .old-price {
              strike {
                font-family: "Lexend Deca";
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 120%;
                color: $grey-color;
              }
            }
          }

          .quantity-adjust {
            display: flex;
            gap: 1rem;
            align-items: center;
            flex-wrap: wrap;
            .quantity-header {
              font-family: "Lexend Deca";
              font-style: normal;
              font-weight: 500;
              font-size: 24px;
              line-height: 120%;
              grid-area: header;
            }
            .quantity-container {
              display: flex;
              align-items: center;
              gap: 1rem;

              .minus-btn {
                width: 1.5rem;
                height: 1.5rem;
              }

              .quantity-value {
                align-self: center;
                padding: 0 1.125rem;
              }

              .plus-btn {
                width: 1.5rem;
                height: 1.5rem;
              }
            }
          }
        }
        button {
          width: fit-content;
          height: fit-content;
          background-color: $primary-color;
          border: none;
          word-wrap: break-word;
          padding: 16px 48px;
          gap: 8px;
          border-radius: 0.2rem;
          color: $white-color;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 120%;
        }

        button:hover {
          background-color: $primary-hover-dark-color;
        }
      }
    }
  }

  hr {
    border: 2px solid $grey-color;
    width: 100%;
  }

  .suggestions {
    padding: 2.5rem 0;
    .suggestion-header {
      font-family: "Lexend Deca";
      padding: 0 0 0.5rem 0;
    }

    hr {
      width: 18rem;
      border: 3px solid $primary-color;
    }

    .product-list-container {
      width: 100%;
      height: 31.75rem;
      margin: 2rem 0 0;
      padding: 1.75rem 1.875rem 0;
      background-color: $bluegrey-tint;
      box-shadow: 0px 8px 16px -4px rgba(16, 24, 40, 0.04),
        4px 4px 8px -2px rgba(16, 24, 40, 0.04);
      border-radius: 4px;

      .horizontal-cards-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        border-spacing: 1rem 1rem;

        .right-col-cards {
          border-right: 1.688rem solid transparent;
        }
        .mid-col-cards {
          border-right: 1.688rem solid transparent;
        }

        .left-col-cards {
          border-left: 1.688rem solid transparent;
        }
        .horizontal-card {
          @include small-horizontal-card;
        }
      }
    }
  }
}

@media screen and (max-width: 961px) {
  .item-details-page-container {
    height: 90rem;
    padding: 0 2rem;

    .above-container {
      .item-info-container {
        padding: 2rem 2.438rem;

        .item-info {
          .item-name {
            font-size: 1.75rem;
          }

          .description-header {
            font-size: 1.125rem;
          }
        }

        .actions {
          .price-quantity {
            .only-price {
              .new-price {
                font-size: 1.125rem;
                .RM {
                  font-size: 1rem;
                }
                .price-value {
                  font-size: 1.5rem;
                }
              }
              .old-price {
                strike {
                  font-size: 0.825rem;
                }
              }
            }

            .quantity-adjust {
              .quantity-header {
                font-size: 1.125rem;
              }

              .quantity-container {
                .minus-btn {
                  width: 1.125rem;
                  height: 1.125rem;
                }

                .quantity-value {
                  padding: 0 0.5rem;
                }

                .plus-btn {
                  width: 1.125rem;
                  height: 1.125rem;
                }
              }
            }
          }

          button {
            padding: 1.125rem 1.5rem;
            font-size: 0.825rem;
          }
        }
      }
    }

    .suggestions {
      .suggestion-header {
        font-size: 1.5rem;
      }

      hr {
        width: 13rem;
        border: 3px solid $primary-color;
      }

      .product-list-container {
        height: 46rem;

        .horizontal-cards-container {
          .horizontal-card {
            width: 40vw;
          }
        }
      }
    }
  }
}
