@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;500;700&family=Poppins:wght@300;500;700&display=swap");
h1,
h2,
h3 {
  margin-top: 0;
  font-weight: 700;
  line-height: 1.1;
}

p {
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: #252525;
}

*,
*::before,
*::after {
  margin: 0;
}

p {
  text-align: justify;
}

.login-page-container {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-evenly;
  text-align: left;
  background-color: #f5f5f5;
  height: calc(100vh - 4.5rem);
}
.login-page-container .login-image-container {
  grid-column: 1;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.login-page-container .login-image-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 50vw;
}
.login-page-container .login-container {
  grid-column: 2;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 49.6vw;
}
.login-page-container .login-container .login-container-content {
  justify-content: center;
  align-self: center;
  background-color: white;
  width: 400px;
  height: 620px;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.1), 0px 4px 6px -2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 5rem;
}
.login-page-container .login-container .login-container-content .login-form-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
}
.login-page-container .login-container .login-container-content .login-form-content .login-form-title {
  font-family: "Lexend Deca";
  font-size: 38px;
  padding-bottom: 10px;
}
.login-page-container .login-container .login-container-content .login-form-content .forgot-pwd-text {
  font-size: 14px;
  padding-top: 10px;
}
.login-page-container .login-container .login-container-content .login-form-content .forgot-pwd-text a {
  color: black;
}
.login-page-container .login-container .login-container-content .login-form-content .sign-up-text-center {
  padding-top: 7px;
  text-align: center;
  width: 310px;
}
.login-page-container .login-container .login-container-content .login-form-content .signup-link {
  color: #009688;
}
.login-page-container .login-container .login-container-content .login-form-content .line-or-box {
  display: table;
  width: 100%;
}
.login-page-container .login-container .login-container-content .login-form-content .line-1 {
  width: 128px;
  height: 0px;
  border: 2px solid #009688;
}
.login-page-container .login-container .login-container-content .login-form-content .white-padding {
  display: table-cell;
  padding: 10px;
  background-color: white;
}
.login-page-container .login-container .login-container-content .login-form-content .or-box {
  color: white;
  display: table-cell;
  align-items: center;
  width: 32px;
  height: 28px;
  padding: 4px;
  gap: 4px;
  background: #009688;
  border: 1px solid #009688;
  border-radius: 3px;
}
.login-page-container .login-container .login-container-content .login-form-content .login-apps-container {
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
  align-items: center;
}
.login-page-container .login-container .login-container-content .login-form-content .login-apps {
  display: table;
}
.login-page-container .login-container .login-container-content .login-form-content .login-apps-icons {
  display: table-cell;
  font-size: 2.5rem;
}
.login-page-container .login-container .login-container-content .login-form-content .login-apps-icons svg {
  color: black;
}
.login-page-container .login-container .login-container-content .login-form-content .form-group-mt-3 {
  font-family: "Lexend Deca";
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.login-page-container .login-container .login-container-content .login-form-content .form-control-mt-1 {
  background-color: #eeeeee;
  border-radius: 4px;
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 6px;
}
.login-page-container .login-container .login-container-content .login-form-content .d-grid-gap-2-mt-3 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.login-page-container .login-container .login-container-content .login-form-content .signup-login-btn {
  font-family: "Lexend Deca";
  font-size: 18px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 74px;
  gap: 8px;
  height: 40px;
  width: 100%;
  background-color: #009688;
  border-radius: 4px;
}/*# sourceMappingURL=login.css.map */