p {
  text-align: justify;
}

.sign-in-page-container {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-evenly;
  text-align: left;
  background-color: #f5f5f5;
}

.signin-image-container {
  grid-column: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.signin-image-container > img {
  object-fit: cover;
}

.sign-in-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.sign-in-container-content {
  grid-column: 2;
  justify-content: center;
  align-self: center;
  background-color: white;
  width: 400px;
  height: 620px;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.1),
    0px 4px 6px -2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 5rem;
}

.sign-in-form-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
}

.sign-in-form-title {
  font-family: "Lexend Deca";
  font-size: 38px;
  padding-bottom: 10px;
}

.forgot-pwd-text {
  font-size: 14px;
  padding-top: 10px;
}

.sign-up-text-center {
  padding-top: 7px;
  text-align: center;
  width: 310px;
}

.signup-link {
  color: #009688;
}

.line-or-box {
  display: table;
  width: 100%;
}

.line-1 {
  width: 128px;
  height: 0px;
  border: 2px solid #009688;
}

.white-padding {
  display: table-cell;
  padding: 10px;
  background-color: white;
}

.or-box {
  color: white;
  display: table-cell;
  align-items: center;
  width: 32px;
  height: 28px;
  padding: 4px;
  gap: 4px;
  background: #009688;
  border: 1px solid #009688;
  border-radius: 3px;
}

.login-apps-container {
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
  align-items: center;
}

.login-apps {
  display: table;
}

.login-apps-icons {
  display: table-cell;
  font-size: 2.5rem;
}

.form-group-mt-3 {
  font-family: "Lexend Deca";
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-control-mt-1 {
  background-color: #eeeeee;
  border-radius: 4px;
  height: 40px;
  width: 100%;
  font-size: 16px;
}

.d-grid-gap-2-mt-3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.signup-signin-btn {
  font-family: "Lexend Deca";
  font-size: 18px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 74px;
  gap: 8px;
  height: 40px;
  width: 100%;
  background-color: #009688;
  border-radius: 4px;
}
