@import "../../Scss/colors";
@import "../../Scss/fonts";
@import "../../Scss/components";

// Reset All Elements
*,
*::after,
*::before {
  margin: 0;
}

.product-page {
  height: 85rem;
  display: flex;
  padding: 0 19.5rem;
}

.side-nav {
  height: 100%;
  width: 27.56rem;
  background-color: $white-color;
  box-shadow: 0.625rem 0 1rem -0.25rem rgba(16, 24, 40, 0.04),
    0.25rem 0 0.5rem -0.125rem rgba(16, 24, 40, 0.04);

  .side-nav-title {
    h4 {
      font-family: $primary-fonts;
      color: $primary-color;
      padding: 3.5rem 0 2rem;
    }
  }

  .category-list ul {
    font-family: $secondary-fonts;
    font-weight: map-get($map: $font-weight, $key: "medium");
    font-size: 1rem;
    line-height: 120%;
    padding: 0;
    list-style: none;
  }

  .category-list ul li {
    cursor: pointer;
    color: $black-color;
    padding: 0 0 1.5rem 0;
  }

  .category-list ul li:hover {
    color: $primary-color;
  }
}

.product-section {
  height: 100%;
  padding: 3.5rem 0 0 5rem;

  .carousel {
    height: 22.063rem;
    border-radius: 0.5rem;

    .carousel-images {
      display: flex;
      height: 22.063rem;
      justify-content: center;

      img {
        object-fit: cover;
      }
      .carousel-category {
        position: absolute;
        align-self: center;
        color: $white-color;
        font-size: 56px;
        font-weight: 700;
        text-shadow: 2px 2px $black-color;
      }
    }
  }
}
