@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;500;700&family=Poppins:wght@300;500;700&display=swap");
h1 {
  margin: 0;
  line-height: 120%;
  font-weight: 700;
  font-size: 4rem;
}

h2 {
  margin: 0;
  line-height: 120%;
  font-weight: 700;
  font-size: 3.5rem;
}

h3 {
  margin: 0;
  line-height: 120%;
  font-weight: 700;
  font-size: 2.75rem;
}

h4 {
  margin: 0;
  line-height: 120%;
  font-weight: 700;
  font-size: 2.125rem;
}

h5 {
  margin: 0;
  line-height: 120%;
  font-weight: 700;
  font-size: 2rem;
}

h6 {
  margin: 0;
  line-height: 120%;
  font-weight: 700;
  font-size: 1.75rem;
}

p {
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: #252525;
}

*,
*::after,
*::before {
  margin: 0;
}

.result-page {
  height: 100%;
  padding: 0 18rem;
}

.result-section {
  height: 100%;
}
.result-section .result-title h5 {
  font-family: "Lexend Deca";
  color: #252525;
  padding: 3rem 0 0.75rem 0;
}
.result-section hr {
  width: 18rem;
  background-color: #009688;
  border: 3px solid #009688;
}
.result-section .product-cards {
  padding: 2rem 0 0;
  height: 43.375rem;
  width: 100%;
}
.result-section .product-cards .medium-horizontal-cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.result-section .product-cards .medium-horizontal-cards-container .card-container {
  padding-bottom: 2rem;
}
.result-section .product-cards .medium-horizontal-cards-container .card-container .medium-horizontal-card {
  box-shadow: 0px 8px 16px -4px rgba(16, 24, 40, 0.02), 4px 4px 8px -2px rgba(16, 24, 40, 0.04);
  display: grid;
  grid-template-areas: "image name name" "image name name" "image price button";
  width: 28.75rem;
  height: 13.125rem;
  border-radius: 0.125rem;
  background-color: #ffffff;
  padding: 1.875rem 2.313rem;
  width: 40rem;
}
.result-section .product-cards .medium-horizontal-cards-container .card-container .medium-horizontal-card .product-image {
  grid-area: image;
}
.result-section .product-cards .medium-horizontal-cards-container .card-container .medium-horizontal-card .product-image img {
  width: 7.5rem;
  height: 9.375rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.25rem;
}
.result-section .product-cards .medium-horizontal-cards-container .card-container .medium-horizontal-card .product-name {
  grid-area: name;
  font-family: "Lexend Deca";
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 120%;
  text-align: left;
  padding-left: 2rem;
}
.result-section .product-cards .medium-horizontal-cards-container .card-container .medium-horizontal-card .product-price {
  grid-area: price;
  color: #ff8a65;
  font-family: "Lexend Deca";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 120%;
  align-self: flex-end;
  padding-left: 2rem;
}
.result-section .product-cards .medium-horizontal-cards-container .card-container .medium-horizontal-card .product-price .RM {
  font-family: "Lexend Deca";
  font-weight: 500;
  font-size: 1rem;
  line-height: 120%;
  color: #252525;
}
.result-section .product-cards .medium-horizontal-cards-container .card-container .medium-horizontal-card .button-container {
  display: flex;
  justify-content: flex-end;
}
.result-section .product-cards .medium-horizontal-cards-container .card-container .medium-horizontal-card .button-container .add-to-cart-btn {
  border: none;
  border-radius: 0.25rem;
  background-color: #009688;
  height: 2.5rem;
  width: 2.5rem;
  grid-area: button;
  align-self: flex-end;
  cursor: pointer;
}
.result-section .product-cards .medium-horizontal-cards-container .card-container .medium-horizontal-card .button-container .add-to-cart-btn .cart-icon {
  font-size: 1.5rem;
  color: #ffffff;
}
.result-section .product-cards .medium-horizontal-cards-container .card-container .medium-horizontal-card .button-container .add-to-cart-btn:hover {
  background-color: #00796b;
}

@media screen and (max-width: 961px) {
  .result-page {
    height: 100%;
    padding: 0 2rem;
  }
  .result-section .product-cards .medium-horizontal-cards-container .card-container .medium-horizontal-card {
    width: 25.75rem;
  }
}/*# sourceMappingURL=return-results.css.map */