@import "../../Scss/colors";
@import "../../Scss/fonts";
@import "../../Scss/typography";

*,
*::before,
*::after {
  margin: 0;
}

.address-page-container {
  padding-top:104px;
  padding-left:78px;
  display: flex;
  .address-page-header {
    h1{

    }
    .your-shipping-address-container {
      .shipping-details-table {
        h3 {
        }

        p {
        }

        .links {
          .edit-link-container {
            .edit-link {
            }
          }

          .vertical-line {
          }

          .delete-btn-container {
            .delete-btn {
            }
          }
        }
      }
    }
  }
  .navigation-buttons{
    .back-to-account{}
    .add-address-container{
      .add-address-btn{

      }
    }
  }
}
