@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;500;700&family=Poppins:wght@300;500;700&display=swap");
h1 {
  margin: 0;
  line-height: 120%;
  font-weight: 700;
  font-size: 4rem;
}

h2 {
  margin: 0;
  line-height: 120%;
  font-weight: 700;
  font-size: 3.5rem;
}

h3 {
  margin: 0;
  line-height: 120%;
  font-weight: 700;
  font-size: 2.75rem;
}

h4 {
  margin: 0;
  line-height: 120%;
  font-weight: 700;
  font-size: 2.125rem;
}

h5 {
  margin: 0;
  line-height: 120%;
  font-weight: 700;
  font-size: 2rem;
}

h6 {
  margin: 0;
  line-height: 120%;
  font-weight: 700;
  font-size: 1.75rem;
}

p {
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: #252525;
}

*,
*::before,
*::after {
  margin: 0;
}

.address-page-container {
  height: 50rem;
  justify-content: space-between;
  display: flex;
  padding: 2.5rem 19.5rem;
}
.address-page-container .address-page-header h3 {
  font-family: "Lexend Deca";
  padding: 0 0 2rem 0;
}
.address-page-container .address-page-header .your-shipping-address-container p {
  font-family: "Lexend Deca";
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 120%;
  padding: 0 0 1.5rem 0;
}
.address-page-container .address-page-header .shipping-details-container {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  border-radius: 0.25rem;
}
.address-page-container .address-page-header .shipping-details-container .shipping-details-table .address-details-table {
  width: 100%;
  border-collapse: collapse;
}
.address-page-container .address-page-header .shipping-details-container .shipping-details-table .address-details-table th {
  font-family: "Lexend Deca";
  font-weight: 500;
  font-size: 1.5rem;
  padding: 0 0 1rem 0;
  text-align: left;
  line-height: 120%;
}
.address-page-container .address-page-header .shipping-details-container .shipping-details-table .address-details-table td {
  padding: 0.375rem 0rem;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 120%;
}
.address-page-container .address-page-header .shipping-details-container .shipping-details-table .address-details-table .address {
  padding: 0.188rem 0rem;
}
.address-page-container .address-page-header .shipping-details-container .links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.address-page-container .address-page-header .shipping-details-container .links .edit-link {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 120%;
  padding-right: 0.5rem;
}
.address-page-container .address-page-header .shipping-details-container .links .edit-link:hover {
  color: #00796b;
}
.address-page-container .address-page-header .shipping-details-container .links .vertical-line {
  width: 11px;
  height: 1px;
  left: 35px;
  top: 201px;
  border: 1px solid #252525;
  transform: rotate(-90deg);
}
.address-page-container .address-page-header .shipping-details-container .links .delete-btn {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 120%;
  padding-left: 0.5rem;
}
.address-page-container .address-page-header .shipping-details-container .links .delete-btn:hover {
  color: #f04438;
}
.address-page-container .navigation-buttons {
  justify-self: flex-end;
  padding-top: 1.5rem;
}
.address-page-container .navigation-buttons .return {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.address-page-container .navigation-buttons .return p {
  font-family: "Lexend Deca";
  font-size: 1rem;
  font-weight: 500;
  line-height: 120%;
  padding-bottom: 1.813rem;
  align-items: center;
}
.address-page-container .navigation-buttons .return svg {
  font-size: 1.25rem;
  align-items: center;
}
.address-page-container .navigation-buttons .return:hover,
.address-page-container .navigation-buttons svg:hover {
  color: #00796b;
}
.address-page-container .navigation-buttons .add-address-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 92%;
  padding: 1rem;
  margin: 0 0 0 8%;
  gap: 0.5rem;
  background: #009688;
  border-radius: 0.125rem;
  border: none;
  align-items: center;
  color: #ffffff;
  font-family: "Lexend Deca";
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 120%;
}
.address-page-container .navigation-buttons .add-address-btn svg {
  font-size: 1.125rem;
  color: #ffffff;
}
.address-page-container .navigation-buttons .add-address-btn:hover {
  background-color: #ff8a65;
}/*# sourceMappingURL=address.css.map */