@import "../../Scss/colors";
@import "../../Scss/fonts";
@import "../../Scss/components";

*,
*::before,
*::after {
  margin: 0;
}

.address-page-container {
  height: 50rem;
  justify-content: space-between;
  display: flex;
  padding: 2.5rem 19.5rem;

  .address-page-header {
    h3 {
      font-family: $primary-fonts;
      padding: 0 0 2rem 0;
    }

    .your-shipping-address-container p {
      font-family: $primary-fonts;
      font-weight: map-get($map: $font-weight, $key: "semibold");
      font-size: 1.875rem;
      line-height: 120%;
      padding: 0 0 1.5rem 0;
    }

    .shipping-details-container {
      display: flex;
      flex-direction: column;
      justify-items: flex-start;
      border-radius: 0.25rem;

      .shipping-details-table {
        .address-details-table {
          width: 100%;
          border-collapse: collapse;

          th {
            font-family: $primary-fonts;
            font-weight: map-get($map: $font-weight, $key: "medium");
            font-size: 1.5rem;
            padding: 0 0 1rem 0;
            text-align: left;
            line-height: 120%;
          }

          td {
            padding: 0.375rem 0rem;
            font-family: $secondary-fonts;
            font-weight: map-get($map: $font-weight, $key: "medium");
            font-size: 0.875rem;
            line-height: 120%;
          }

          .address {
            padding: 0.188rem 0rem;
          }
        }
      }

      .links {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .edit-link {
          font-family: $secondary-fonts;
          font-weight: map-get($map: $font-weight, $key: "bold");
          font-size: 0.875rem;
          line-height: 120%;
          padding-right: 0.5rem;

          &:hover {
            color: $primary-hover-dark-color;
          }
        }

        .vertical-line {
          width: 11px;
          height: 1px;
          left: 35px;
          top: 201px;
          border: 1px solid $black-color;
          transform: rotate(-90deg);
        }

        .delete-btn {
          font-family: $secondary-fonts;
          font-weight: map-get($map: $font-weight, $key: "bold");
          font-size: 0.875rem;
          line-height: 120%;
          padding-left: 0.5rem;

          &:hover {
            color: $error-color;
          }
        }
      }
    }
  }

  .navigation-buttons {
    justify-self: flex-end;
    padding-top: 1.5rem;

    .return {
      display: flex;
      justify-content: flex-end;
      cursor: pointer;

      p {
        font-family: $primary-fonts;
        font-size: 1rem;
        font-weight: map-get($map: $font-weight, $key: "medium");
        line-height: 120%;
        padding-bottom: 1.813rem;
        align-items: center;
      }

      svg {
        font-size: 1.25rem;
        align-items: center;
      }
    }
    .return:hover,
    svg:hover {
      color: $primary-hover-dark-color;
    }

    .add-address-btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 92%;
      padding: 1rem;
      margin: 0 0 0 8%;
      gap: 0.5rem;
      background: $primary-color;
      border-radius: 0.125rem;
      border: none;
      align-items: center;
      // font styling
      color: $white-color;
      font-family: $primary-fonts;
      font-weight: map-get($map: $font-weight, $key: "medium");
      font-size: 0.875rem;
      line-height: 120%;

      svg {
        font-size: 1.125rem;
        color: $white-color;
      }

      &:hover {
        background-color: $secondary-color;
      }
    }
  }
}
