@import "../../Scss/colors";
@import "../../Scss/fonts";
@import "../../Scss/components";

*,
*::before,
*::after {
  margin: 0;
}

.address-page-container {
  justify-content: space-between;
  display: flex;
  margin: 2.5rem 19.5rem;

  .address-page-header {
    flex-direction: column;
    padding-top: 1.5rem;

    h1 {
      font-family: $primary-fonts;
      font-style: normal;
      font-weight: 700;
      font-size: 44px;
    }
    .your-shipping-address-container {
      h3 {
        font-family: $primary-fonts;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 120%;
        /* identical to box height, or 36px */

        display: flex;
        flex-direction: column;
        margin-top: 32px;
      }
    }
    .shipping-details-container {
      display: flex;
      flex-direction: column;
      justify-items: flex-start;
      margin-top: 24px;
      border-radius: 4px;
      .shipping-details-table {
        h3 {
          font-family: $primary-fonts;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 120%;
        }

        p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 120%;
          /* identical to box height, or 17px */
        }

        .address-details-table {
          width: 100%;
          border-collapse: collapse;

          th {
            font-size: 1.5rem;
            padding: 1rem 0;
            text-align: left;

            font-family: "Lexend Deca";
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 120%;
          }

          td {
            padding: 0.375rem 0rem;

            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 120%;
            /* or 17px */
          }

          .address {
            padding: 0.188rem 0rem;
          }
        }
      }
      .links {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .edit-link {
          margin-right: 8px;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 120%;

          &:hover {
            color: $primary-hover-dark-color;
          }
        }

        .vertical-line {
          width: 11px;
          height: 1px;
          left: 35px;
          top: 201px;

          /* Black */

          border: 1px solid #252525;
          transform: rotate(-90deg);
        }

        .delete-btn {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 120%;

          margin-left: 8px;

          &:hover {
            color: $primary-hover-dark-color;
          }
        }
      }
    }
  }
  .navigation-buttons {
    justify-self: flex-end;
    padding-top: 1.5rem;

    .return {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-weight: 500;
      padding-bottom: 1.875rem;

      &:hover {
        color: $primary-hover-dark-color;
      }
    }
    .add-address-btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      padding: 16px;
      gap: 8px;
      background: $primary-color;
      border-radius: 2px;
      border: none;
      /*font*/
      color: $white-color;
      font-family: $primary-fonts;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;

      &:hover {
        background-color: $primary-hover-dark-color;
      }
    }
  }
}
