@import "../../../Scss/colors";
@import "../../../Scss/fonts";

*,
*::before,
*::after {
  margin: 0;
}

.edit-profile-page-container {
  padding: 2.5rem 18rem;
  display: grid;
  grid-template:
    "header return-cont"
    "main right"
    "button button";

  .profile-page-header {
    h3 {
      font-family: $primary-fonts;
    }
  }

  .return {
    grid-area: return-cont;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: $primary-fonts;
    font-size: 1rem;
    font-weight: map-get($map: $font-weight, $key: "medium");
    line-height: 120%;
    cursor: pointer;

    svg {
      font-size: 1.25rem;
      align-items: center;
    }
  }
  .return:hover,
  svg:hover {
    color: $primary-hover-dark-color;
  }

  .edit-account-details-container {
    grid-area: main;
    padding: 0.625rem 0.625rem 0.625rem 0rem;

    h6 {
      font-family: $primary-fonts;
      padding: 2rem 0;
    }

    .edit-account-details-table-container {
      .edit-account-details-table {
        border-collapse: collapse;
        width: 100%;

        td {
          width: auto;
        }

        .errMsg {
          padding: 1rem 0 0 0;
          p {
            font: $primary-fonts;
            font-size: 12px;
            font-weight: bold;
            color: $error-color;
          }
        }

        .confirmMsg {
          padding: 1.5rem 0 0 0;
          p {
            font: $secondary-fonts;
            font-size: 17px;
            font-weight: bold;
            color: $secondary-color;
          }
        }
        .left-column {
          padding: 0.625rem 5% 0 0;
          width: 50%;
        }

        .right-column {
          width: 46%;
          padding: 0.625rem 0 0 0;
        }

        .form-control-mt-1 {
          background-color: #eeeeee;
          border-radius: 0.25rem;
          height: 2.5rem;
          width: 100%;
          font-size: 1rem;
          padding: 0.375rem;
        }
      }
    }
  }

  .address-details-container {
    grid-area: right;
    padding: 0.625rem 0.625rem 0.625rem 3.125rem;

    h6 {
      font-family: $primary-fonts;
      padding: 2rem 0;
    }

    .address-details-table {
      width: 100%;
      border-collapse: collapse;

      th {
        font-size: 1.5rem;
        padding: 1rem 0;
        text-align: left;

        font-family: "Lexend Deca";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
      }

      td {
        padding: 0.375rem 0rem;

        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        /* or 17px */
      }

      .address {
        padding: 0.188rem 0rem;
      }

      .view-address {
        padding: 0.813rem 0rem;
      }

      .view-address-link {
        color: black;
      }
    }
  }
  .confirmMsg {
    p {
      font: $secondary-fonts;
      font-size: 17px;
      font-weight: bold;
      color: $secondary-color;
    }
  }
  .buttons-container {
    display: flex;
    justify-content: center;
    grid-area: button;
    padding: 0 3rem 0 0;

    .cancel {
      display: flex;
      padding: 2.188rem 2.875rem;
      align-items: center;
      border: none;
      background-color: transparent;
      cursor: pointer;

      font-family: "Lexend Deca";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;

      &:hover {
        color: $primary-hover-dark-color;
      }
    }

    .submit-button-container {
      padding: 2.188rem 0rem;
      .submit-edit {
        height: 2.5rem;
        width: 6.563rem;
        border-radius: 0.188rem;
        background-color: $secondary-color;
        border: none;
        cursor: pointer;

        font-family: "Lexend Deca";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: $white-color;

        &:disabled,
        button[disabled] {
          background-color: $grey-color;
          color: #666666;

          pointer-events: none;
        }

        &:hover {
          background-color: $secondary-hover-color;
        }
        &:disabled,
        button[disabled] {
          background-color: $grey-color;
          color: #666666;

          pointer-events: none;
        }
      }
    }
  }
}

@media screen and (max-width: 961px) {
  .edit-profile-page-container {
    padding: 2.188rem 2rem;
  }

  .edit-profile-page-container .address-details-container {
    grid-area: right;
    padding: 0.625rem 0 0.625rem 3.125rem;
  }
}
