@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;500;700&family=Poppins:wght@300;500;700&display=swap");
h1 {
  margin: 0;
  line-height: 120%;
  font-weight: 700;
  font-size: 4rem;
}

h2 {
  margin: 0;
  line-height: 120%;
  font-weight: 700;
  font-size: 3.5rem;
}

h3 {
  margin: 0;
  line-height: 120%;
  font-weight: 700;
  font-size: 2.75rem;
}

h4 {
  margin: 0;
  line-height: 120%;
  font-weight: 700;
  font-size: 2.125rem;
}

h5 {
  margin: 0;
  line-height: 120%;
  font-weight: 700;
  font-size: 2rem;
}

h6 {
  margin: 0;
  line-height: 120%;
  font-weight: 700;
  font-size: 1.75rem;
}

p {
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: #252525;
}

a:hover {
  color: #009688;
}

*,
*::after,
*::before {
  margin: 0;
}

.large-horizontal-card .product-name p {
  font-family: "Lexend Deca";
}

.home-header {
  height: calc(100vh - 4.5rem);
  display: flex;
  background-color: #f8f9fc;
  justify-content: space-between;
  align-items: center;
  padding: 0 15vw;
}
.home-header .home-header-content h1 {
  text-align: left;
  text-transform: uppercase;
  font-family: "Lexend Deca";
  padding: 0 0 0.5rem 0;
}
.home-header .home-header-content p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 120%;
  padding: 1rem 6rem 2.5rem 0;
  text-align: left;
  flex-wrap: wrap;
}
.home-header .home-header-content button {
  cursor: pointer;
  margin: 0;
  background-color: #ff8a65;
  border-style: none;
  border-radius: 0.25rem;
  width: 16.25rem;
  height: 4rem;
  font-family: "Lexend Deca";
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 120%;
  color: #ffffff;
}
.home-header button:hover {
  background-color: #ff5722;
}
.home-header .home-image-container {
  display: flex;
  height: calc(100vh - 4.5rem);
  width: 39.375rem;
  background-position: center;
  background-size: cover;
  -webkit-animation: home_image 6s ease infinite alternate;
          animation: home_image 6s ease infinite alternate;
}
@-webkit-keyframes home_image {
  0% {
    background-image: url("https://images.unsplash.com/photo-1584473457406-6240486418e9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80");
  }
  50% {
    background-image: url("https://images.unsplash.com/photo-1579113800032-c38bd7635818?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  }
  100% {
    background-image: url("https://images.unsplash.com/photo-1550989460-0adf9ea622e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  }
}
@keyframes home_image {
  0% {
    background-image: url("https://images.unsplash.com/photo-1584473457406-6240486418e9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80");
  }
  50% {
    background-image: url("https://images.unsplash.com/photo-1579113800032-c38bd7635818?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  }
  100% {
    background-image: url("https://images.unsplash.com/photo-1550989460-0adf9ea622e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  }
}

.today-top-deals {
  height: 59rem;
  padding: 0 15vw;
}
.today-top-deals .today-top-deals-title {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0 0 0;
  align-items: baseline;
}
.today-top-deals .today-top-deals-title h4 {
  font-family: "Lexend Deca";
  color: #252525;
}
.today-top-deals .view-more-button {
  display: flex;
  color: #009688;
}
.today-top-deals .view-more-button p {
  display: flex;
  cursor: pointer;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 120%;
  padding: 0 0.25rem 0 0;
}
.today-top-deals .view-more-button:hover {
  color: #00796b;
}
.today-top-deals hr {
  margin: 0.75rem 0 0 0;
  width: 7.5rem;
  background-color: #009688;
  border: 3px solid #009688;
}
.today-top-deals .today-top-deals-product {
  display: flex;
  padding: 2.5rem 0 0 0;
}
.today-top-deals .today-top-deals-product .vertical-card {
  box-shadow: 0px 8px 16px -4px rgba(16, 24, 40, 0.02), 4px 4px 8px -2px rgba(16, 24, 40, 0.04);
  display: grid;
  grid-template-areas: "image image image" "name name name" "price price button";
  width: 21.75vw;
  height: 43.375rem;
  border-radius: 0.125rem;
  background-color: #ffffff;
  padding: 33px 26px 66px 26px;
}
.today-top-deals .today-top-deals-product .vertical-card .product-image {
  grid-area: image;
}
.today-top-deals .today-top-deals-product .vertical-card .product-image img {
  width: 19vw;
  height: 27.438rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.25rem;
}
.today-top-deals .today-top-deals-product .vertical-card .product-name {
  grid-area: name;
  font-family: "Lexend Deca";
  font-size: 26px;
  font-weight: 500;
  line-height: 120%;
}
.today-top-deals .today-top-deals-product .vertical-card .product-price {
  grid-area: price;
  align-self: flex-end;
  color: #ff8a65;
  font-family: "Lexend Deca";
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 120%;
}
.today-top-deals .today-top-deals-product .vertical-card .product-price .RM {
  font-family: "Lexend Deca";
  font-size: 1.25rem;
  font-weight: 500;
  color: #252525;
}
.today-top-deals .today-top-deals-product .vertical-card .button-container {
  display: flex;
  justify-content: flex-end;
}
.today-top-deals .today-top-deals-product .vertical-card .button-container .add-to-cart-btn {
  border: none;
  border-radius: 0.25rem;
  background-color: #009688;
  height: 4rem;
  width: 4rem;
  grid-area: button;
  align-self: flex-end;
  cursor: pointer;
}
.today-top-deals .today-top-deals-product .vertical-card .button-container .add-to-cart-btn .cart-icon {
  color: #ffffff;
  font-size: 2 rem;
}
.today-top-deals .today-top-deals-product .vertical-card .button-container .add-to-cart-btn:hover {
  background-color: #00796b;
}
.today-top-deals .today-top-deals-product .horizontal-cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.today-top-deals .today-top-deals-product .horizontal-cards-container .card-container {
  padding-left: 1rem;
  padding-bottom: 2rem;
}
.today-top-deals .today-top-deals-product .horizontal-cards-container .card-container .horizontal-card {
  box-shadow: 0px 8px 16px -4px rgba(16, 24, 40, 0.02), 4px 4px 8px -2px rgba(16, 24, 40, 0.04);
  display: grid;
  grid-template-areas: "image name name" "image name name" "image price button";
  width: 22vw;
  height: 21.7vh;
  border-radius: 0.125rem;
  background-color: #ffffff;
  padding: 1.875rem 1.5rem;
}
.today-top-deals .today-top-deals-product .horizontal-cards-container .card-container .horizontal-card .product-image {
  grid-area: image;
  height: 6vh;
  width: 6vw;
}
.today-top-deals .today-top-deals-product .horizontal-cards-container .card-container .horizontal-card .product-image img {
  width: 6vw;
  height: 16vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.25rem;
}
.today-top-deals .today-top-deals-product .horizontal-cards-container .card-container .horizontal-card .product-name {
  grid-area: name;
  font-family: "Lexend Deca";
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 120%;
  text-align: left;
  padding-left: 1.5rem;
}
.today-top-deals .today-top-deals-product .horizontal-cards-container .card-container .horizontal-card .product-price {
  grid-area: price;
  color: #ff8a65;
  font-family: "Lexend Deca";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 120%;
  align-self: flex-end;
  padding-left: 1.5rem;
}
.today-top-deals .today-top-deals-product .horizontal-cards-container .card-container .horizontal-card .product-price .RM {
  font-family: "Lexend Deca";
  font-weight: 500;
  font-size: 1rem;
  line-height: 120%;
  color: #252525;
}
.today-top-deals .today-top-deals-product .horizontal-cards-container .card-container .horizontal-card .button-container {
  display: flex;
  justify-content: flex-end;
}
.today-top-deals .today-top-deals-product .horizontal-cards-container .card-container .horizontal-card .button-container .add-to-cart-btn {
  border: none;
  border-radius: 0.25rem;
  background-color: #009688;
  height: 2.5rem;
  width: 2.5rem;
  grid-area: button;
  align-self: flex-end;
  cursor: pointer;
}
.today-top-deals .today-top-deals-product .horizontal-cards-container .card-container .horizontal-card .button-container .add-to-cart-btn .cart-icon {
  font-size: 1.5rem;
  color: #ffffff;
}
.today-top-deals .today-top-deals-product .horizontal-cards-container .card-container .horizontal-card .button-container .add-to-cart-btn:hover {
  background-color: #00796b;
}

.promotion-banner {
  height: 17.25rem;
  display: flex;
  background-color: #009688;
  justify-content: space-between;
  align-items: center;
  padding: 0 15vw;
  margin: 0 0 3rem 0;
  overflow-y: clip;
}
.promotion-banner .banner-image-container img {
  display: flex;
  height: 31.25rem;
  margin: -8rem 0 0 0;
}
.promotion-banner .promotion-banner-content {
  padding-left: 5rem;
}
.promotion-banner .promotion-banner-content p {
  color: #ffffff;
}
.promotion-banner .promotion-banner-content .promotion-banner-header {
  font-family: "Lexend Deca";
  font-weight: 600;
  font-size: 1.625rem;
  line-height: 120%;
  text-transform: uppercase;
}
.promotion-banner .promotion-banner-content .promotion-banner-text {
  padding: 0.5rem 0 0 0;
  font-family: "Lexend Deca";
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 120%;
}

.discount-banner {
  padding: 0rem 15%;
}
.discount-banner .discount-banner-container {
  position: relative;
  height: 6rem;
  display: flex;
  background-color: #fedf89;
  width: 100%;
  border-radius: 0.25rem;
  justify-content: center;
  align-items: center;
}
.discount-banner .discount-banner-container .discount-text {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 120%;
  color: #f04438;
  padding: 0 2rem 0 0;
}
.discount-banner .discount-banner-container .discount-code {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 120%;
  color: #f04438;
  border: 0.125rem dashed #f04438;
  border-radius: 0.125rem;
  padding: 0.5rem 1.5rem;
}
.discount-banner .discount-banner-container .discount-notes {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 120%;
  padding: 0 0.5rem 0.5em 0;
}

.best-choices {
  height: 48.5rem;
  padding: 0 15vw;
  width: 100%;
}
.best-choices .best-choices-title {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0 0 0;
  align-items: baseline;
}
.best-choices .best-choices-title h4 {
  font-family: "Lexend Deca";
  color: #252525;
}
.best-choices .view-more-button {
  display: flex;
  color: #009688;
}
.best-choices .view-more-button p {
  display: flex;
  cursor: pointer;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 120%;
  padding: 0 0.25rem 0 0;
}
.best-choices .view-more-button:hover {
  color: #00796b;
}
.best-choices hr {
  margin: 0.75rem 0 0 0;
  width: 5rem;
  background-color: #009688;
  border: 3px solid #009688;
}
.best-choices .best-choices-product-1 {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 0 0 0;
}
.best-choices .best-choices-product-1 .large-horizontal-card {
  box-shadow: 0px 8px 16px -4px rgba(16, 24, 40, 0.02), 4px 4px 8px -2px rgba(16, 24, 40, 0.04);
  width: 43vw;
  height: 15.5rem;
  display: grid;
  grid-template-areas: "image name name" "image price button";
  grid-template-columns: 45% 27.5% 27.5%;
  grid-template-rows: 50% 50%;
  border-radius: 0.125rem;
  background-color: #ffffff;
  padding: 1.125rem 1.313rem;
}
.best-choices .best-choices-product-1 .large-horizontal-card .product-image {
  grid-area: image;
}
.best-choices .best-choices-product-1 .large-horizontal-card .product-image img {
  width: 17.875rem;
  height: 13.25rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.25rem;
}
.best-choices .best-choices-product-1 .large-horizontal-card .product-name {
  grid-area: name;
  font-family: "Lexend Deca";
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 120%;
  text-align: left;
  align-self: center;
}
.best-choices .best-choices-product-1 .large-horizontal-card .product-price {
  grid-area: price;
  font-family: "Lexend Deca";
  font-size: 2rem;
  font-weight: 700;
  line-height: 120%;
  align-self: flex-end;
  color: #ff8a65;
}
.best-choices .best-choices-product-1 .large-horizontal-card .product-price .RM {
  font-size: 1.5rem;
  font-weight: 500;
  color: #252525;
  line-height: 120%;
}
.best-choices .best-choices-product-1 .large-horizontal-card .button-container {
  display: flex;
  justify-content: flex-end;
}
.best-choices .best-choices-product-1 .large-horizontal-card .button-container .add-to-cart-btn {
  border: none;
  border-radius: 0.25rem;
  background-color: #009688;
  height: 4rem;
  width: 4rem;
  grid-area: button;
  align-self: flex-end;
  cursor: pointer;
}
.best-choices .best-choices-product-1 .large-horizontal-card .button-container .add-to-cart-btn .cart-icon {
  color: #ffffff;
  font-size: 2rem;
}
.best-choices .best-choices-product-1 .large-horizontal-card .button-container .add-to-cart-btn:hover {
  background-color: #00796b;
}
.best-choices .best-choices-product-1 .category-card {
  box-shadow: 0px 8px 16px -4px rgba(16, 24, 40, 0.02), 4px 4px 8px -2px rgba(16, 24, 40, 0.04);
  width: 31.5rem;
  height: 15.5rem;
  border-radius: 0.125rem;
  background-color: #ffffff;
  overflow-y: clip;
  width: 46vw;
}
.best-choices .best-choices-product-1 .category-card img {
  width: 31.5rem;
  margin: -14rem 0 0 0;
}
.best-choices .best-choices-product-1 .category-card ._5bXm4 p {
  font-family: "Lexend Deca";
  font-weight: 700;
  font-size: 3.5rem;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}
.best-choices .best-choices-product-2 {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 0 4rem 0;
}
.best-choices .best-choices-product-2 .category-card {
  box-shadow: 0px 8px 16px -4px rgba(16, 24, 40, 0.02), 4px 4px 8px -2px rgba(16, 24, 40, 0.04);
  width: 31.5rem;
  height: 15.5rem;
  border-radius: 0.125rem;
  background-color: #ffffff;
  overflow-y: clip;
  width: 46vw;
}
.best-choices .best-choices-product-2 .category-card img {
  width: 31.563rem;
  margin: -3rem 0 0 0;
}
.best-choices .best-choices-product-2 .category-card ._5bXm4 p {
  font-family: "Lexend Deca";
  font-weight: 700;
  font-size: 3.5rem;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}
.best-choices .best-choices-product-2 .large-horizontal-card {
  box-shadow: 0px 8px 16px -4px rgba(16, 24, 40, 0.02), 4px 4px 8px -2px rgba(16, 24, 40, 0.04);
  width: 43vw;
  height: 15.5rem;
  display: grid;
  grid-template-areas: "image name name" "image price button";
  grid-template-columns: 45% 27.5% 27.5%;
  grid-template-rows: 50% 50%;
  border-radius: 0.125rem;
  background-color: #ffffff;
  padding: 1.125rem 1.313rem;
}
.best-choices .best-choices-product-2 .large-horizontal-card .product-image {
  grid-area: image;
}
.best-choices .best-choices-product-2 .large-horizontal-card .product-image img {
  width: 17.875rem;
  height: 13.25rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.25rem;
}
.best-choices .best-choices-product-2 .large-horizontal-card .product-name {
  grid-area: name;
  font-family: "Lexend Deca";
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 120%;
  text-align: left;
  align-self: center;
}
.best-choices .best-choices-product-2 .large-horizontal-card .product-price {
  grid-area: price;
  font-family: "Lexend Deca";
  font-size: 2rem;
  font-weight: 700;
  line-height: 120%;
  align-self: flex-end;
  color: #ff8a65;
}
.best-choices .best-choices-product-2 .large-horizontal-card .product-price .RM {
  font-size: 1.5rem;
  font-weight: 500;
  color: #252525;
  line-height: 120%;
}
.best-choices .best-choices-product-2 .large-horizontal-card .button-container {
  display: flex;
  justify-content: flex-end;
}
.best-choices .best-choices-product-2 .large-horizontal-card .button-container .add-to-cart-btn {
  border: none;
  border-radius: 0.25rem;
  background-color: #009688;
  height: 4rem;
  width: 4rem;
  grid-area: button;
  align-self: flex-end;
  cursor: pointer;
}
.best-choices .best-choices-product-2 .large-horizontal-card .button-container .add-to-cart-btn .cart-icon {
  color: #ffffff;
  font-size: 2rem;
}
.best-choices .best-choices-product-2 .large-horizontal-card .button-container .add-to-cart-btn:hover {
  background-color: #00796b;
}

.separator {
  padding: 0 15vw;
}
.separator hr {
  border: 0.125rem solid #9e9e9e;
}

.services {
  padding: 4rem 15vw 0;
}
.services .services-container {
  height: 29rem;
  background-color: #ff8a65;
  border-radius: 0.125rem;
  margin: 0 0 4rem 0;
}
.services .services-title h4 {
  display: flex;
  justify-content: center;
  color: #ffffff;
  padding: 4rem 0 0 0;
}
.services .services-content {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 6.5rem;
  padding: 3.5rem 0 3.5rem 0;
}
.services .services-content .services-1,
.services .services-content .services-2,
.services .services-content .services-3 {
  display: block;
  justify-content: center;
  text-align: center;
}
.services .services-content svg {
  font-size: 2.5rem;
  color: #ffffff;
}
.services .services-content .services-title {
  padding: 1rem 0;
  font-family: "Lexend Deca";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
}
.services .services-content .services-text {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1rem;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
}
.services .shop-now-button {
  display: flex;
  justify-content: center;
}
.services .shop-now-button button {
  cursor: pointer;
  margin: 0;
  background-color: #009688;
  border-style: none;
  border-radius: 0.25rem;
  width: 16.25rem;
  height: 4rem;
  font-family: "Lexend Deca";
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 120%;
  color: #ffffff;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.04), 0px 4px 6px -2px rgba(16, 24, 40, 0.05);
}
.services .shop-now-button button:hover {
  background-color: #00796b;
}

.Toastify__toast {
  font-family: "Poppins";
  font-size: 1rem;
}

@media screen and (max-width: 1105px) {
  .home-header {
    padding: 0 0 0 1.5rem;
  }
  .home-header .home-header-content {
    padding-right: 0.5rem;
  }
  .home-header .home-header-content h1 {
    font-size: 2rem;
  }
  .home-header .home-header-content p {
    text-align: left;
    font-size: 1rem;
    padding: 0.5rem 0 1rem 0;
  }
  .home-header .home-header-content button {
    cursor: pointer;
    width: 14rem;
    height: 3rem;
    font-family: "Lexend Deca";
    font-size: 1rem;
  }
  .today-top-deals {
    height: 100%;
    padding: 0 1rem;
  }
  .today-top-deals .today-top-deals-title {
    padding-top: 3rem;
  }
  .today-top-deals .today-top-deals-product {
    display: grid;
    grid-template-areas: "vertical-card" "horizontal-cards";
    padding: 2.5rem 0 0 0;
    justify-content: center;
  }
  .today-top-deals .today-top-deals-product .vertical-card-container {
    grid-area: vertical-card;
    padding: 0 23vw;
  }
  .today-top-deals .today-top-deals-product .vertical-card-container .vertical-card {
    width: 50vw;
  }
  .today-top-deals .today-top-deals-product .vertical-card-container .vertical-card .product-image {
    padding-bottom: 2rem;
  }
  .today-top-deals .today-top-deals-product .vertical-card-container .vertical-card .product-image img {
    width: 100%;
    height: 100%;
  }
  .today-top-deals .today-top-deals-product .horizontal-cards-container {
    justify-content: space-around;
    grid-area: horizontal-cards;
    width: 100%;
    height: 100%;
    padding-left: 0;
    padding-top: 1.5rem;
  }
  .today-top-deals .today-top-deals-product .horizontal-cards-container .card-container {
    padding-left: 0;
    padding-bottom: 1.5rem;
  }
  .today-top-deals .today-top-deals-product .horizontal-cards-container .card-container .horizontal-card {
    box-shadow: 0px 8px 16px -4px rgba(16, 24, 40, 0.02), 4px 4px 8px -2px rgba(16, 24, 40, 0.04);
    display: grid;
    grid-template-areas: "image name name" "image name name" "image price button";
    width: 22vw;
    height: 21.7vh;
    border-radius: 0.125rem;
    background-color: #ffffff;
    padding: 1.875rem 1.5rem;
    width: 40vw;
  }
  .today-top-deals .today-top-deals-product .horizontal-cards-container .card-container .horizontal-card .product-image {
    grid-area: image;
    height: 6vh;
    width: 6vw;
  }
  .today-top-deals .today-top-deals-product .horizontal-cards-container .card-container .horizontal-card .product-image img {
    width: 6vw;
    height: 16vh;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 0.25rem;
  }
  .today-top-deals .today-top-deals-product .horizontal-cards-container .card-container .horizontal-card .product-name {
    grid-area: name;
    font-family: "Lexend Deca";
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 120%;
    text-align: left;
    padding-left: 1.5rem;
  }
  .today-top-deals .today-top-deals-product .horizontal-cards-container .card-container .horizontal-card .product-price {
    grid-area: price;
    color: #ff8a65;
    font-family: "Lexend Deca";
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 120%;
    align-self: flex-end;
    padding-left: 1.5rem;
  }
  .today-top-deals .today-top-deals-product .horizontal-cards-container .card-container .horizontal-card .product-price .RM {
    font-family: "Lexend Deca";
    font-weight: 500;
    font-size: 1rem;
    line-height: 120%;
    color: #252525;
  }
  .today-top-deals .today-top-deals-product .horizontal-cards-container .card-container .horizontal-card .button-container {
    display: flex;
    justify-content: flex-end;
  }
  .today-top-deals .today-top-deals-product .horizontal-cards-container .card-container .horizontal-card .button-container .add-to-cart-btn {
    border: none;
    border-radius: 0.25rem;
    background-color: #009688;
    height: 2.5rem;
    width: 2.5rem;
    grid-area: button;
    align-self: flex-end;
    cursor: pointer;
  }
  .today-top-deals .today-top-deals-product .horizontal-cards-container .card-container .horizontal-card .button-container .add-to-cart-btn .cart-icon {
    font-size: 1.5rem;
    color: #ffffff;
  }
  .today-top-deals .today-top-deals-product .horizontal-cards-container .card-container .horizontal-card .button-container .add-to-cart-btn:hover {
    background-color: #00796b;
  }
  .promotion-banner {
    padding: 0 2rem;
    height: 13.25rem;
  }
  .promotion-banner .banner-image-container img {
    width: 65vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .promotion-banner .promotion-banner-content {
    padding-left: 1.2rem;
  }
  .promotion-banner .promotion-banner-content .promotion-banner-header {
    text-align: left;
    font-size: 1.2rem;
  }
  .promotion-banner .promotion-banner-content .promotion-banner-text {
    text-align: left;
  }
  .discount-banner {
    padding: 0 2rem;
  }
  .best-choices {
    padding: 0 1rem;
    height: 100%;
  }
  .best-choices .best-choices-title {
    padding: 2.5rem 0 0 0;
  }
  .best-choices .best-choices-product-1,
.best-choices .best-choices-product-2 {
    display: flex;
    flex-wrap: wrap;
  }
  .best-choices .best-choices-product-1 .large-horizontal-card,
.best-choices .best-choices-product-2 .large-horizontal-card {
    width: 50vw;
    height: 12.5rem;
    grid-template-columns: 52% 24% 24%;
  }
  .best-choices .best-choices-product-1 .large-horizontal-card .product-name,
.best-choices .best-choices-product-2 .large-horizontal-card .product-name {
    font-size: 1.25rem;
  }
  .best-choices .best-choices-product-1 .large-horizontal-card .product-image img,
.best-choices .best-choices-product-2 .large-horizontal-card .product-image img {
    width: 14rem;
    height: 10.25rem;
  }
  .best-choices .best-choices-product-1 .large-horizontal-card .button-container .add-to-cart-btn,
.best-choices .best-choices-product-2 .large-horizontal-card .button-container .add-to-cart-btn {
    width: 3rem;
    height: 3rem;
  }
  .best-choices .best-choices-product-1 .large-horizontal-card .button-container .add-to-cart-btn .cart-icon,
.best-choices .best-choices-product-2 .large-horizontal-card .button-container .add-to-cart-btn .cart-icon {
    font-size: 1.5rem;
  }
  .best-choices .best-choices-product-1 .category-card,
.best-choices .best-choices-product-2 .category-card {
    width: 45vw;
    height: 12.5rem;
  }
  .separator {
    padding: 0 2rem;
  }
  .services {
    padding: 2rem 1rem;
  }
  .services .services-container {
    height: 20rem;
  }
  .services .services-title h4 {
    font-size: 2rem;
    padding-top: 2rem;
  }
  .services .services-content {
    padding: 1.25rem 0;
    gap: 3rem;
  }
  .services .services-content svg {
    font-size: 2rem;
  }
  .services .services-content .services-title {
    font-size: 1.25rem;
  }
  .services .shop-now-button button {
    height: 3rem;
    width: 12.25rem;
  }
}
@media screen and (max-width: 481px) {
  .home-header {
    padding: 0 0 0 1.5rem;
  }
  .home-header .home-header-content {
    padding-right: 0.5rem;
  }
  .home-header .home-header-content h1 {
    font-size: 2rem;
  }
  .home-header .home-header-content p {
    text-align: left;
    font-size: 0.75rem;
    padding: 0.5rem 3rem 1rem 0;
  }
  .home-header .home-header-content button {
    cursor: pointer;
    width: 14rem;
    height: 3rem;
    font-family: "Lexend Deca";
    font-size: 1rem;
  }
  .today-top-deals {
    height: 59rem;
    padding: 0 1rem;
  }
  .today-top-deals .today-top-deals-title {
    padding-top: 3rem;
  }
  .today-top-deals .today-top-deals-product {
    display: grid;
    grid-template-areas: "vertical-card" "horizontal-cards";
    padding: 2.5rem 0 0 0;
  }
  .today-top-deals .today-top-deals-product .vertical-card {
    grid-area: vertical-card;
    box-shadow: 0px 8px 16px -4px rgba(16, 24, 40, 0.02), 4px 4px 8px -2px rgba(16, 24, 40, 0.04);
    display: grid;
    grid-template-areas: "image image image" "name name name" "price price button";
    width: 21.75vw;
    height: 43.375rem;
    border-radius: 0.125rem;
    background-color: #ffffff;
    padding: 33px 26px 66px 26px;
    width: 80vw;
  }
  .today-top-deals .today-top-deals-product .vertical-card .product-image {
    grid-area: image;
  }
  .today-top-deals .today-top-deals-product .vertical-card .product-image img {
    width: 19vw;
    height: 27.438rem;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 0.25rem;
  }
  .today-top-deals .today-top-deals-product .vertical-card .product-name {
    grid-area: name;
    font-family: "Lexend Deca";
    font-size: 26px;
    font-weight: 500;
    line-height: 120%;
  }
  .today-top-deals .today-top-deals-product .vertical-card .product-price {
    grid-area: price;
    align-self: flex-end;
    color: #ff8a65;
    font-family: "Lexend Deca";
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 120%;
  }
  .today-top-deals .today-top-deals-product .vertical-card .product-price .RM {
    font-family: "Lexend Deca";
    font-size: 1.25rem;
    font-weight: 500;
    color: #252525;
  }
  .today-top-deals .today-top-deals-product .vertical-card .button-container {
    display: flex;
    justify-content: flex-end;
  }
  .today-top-deals .today-top-deals-product .vertical-card .button-container .add-to-cart-btn {
    border: none;
    border-radius: 0.25rem;
    background-color: #009688;
    height: 4rem;
    width: 4rem;
    grid-area: button;
    align-self: flex-end;
    cursor: pointer;
  }
  .today-top-deals .today-top-deals-product .vertical-card .button-container .add-to-cart-btn .cart-icon {
    color: #ffffff;
    font-size: 2 rem;
  }
  .today-top-deals .today-top-deals-product .vertical-card .button-container .add-to-cart-btn:hover {
    background-color: #00796b;
  }
  .today-top-deals .today-top-deals-product .horizontal-cards-container {
    grid-area: horizontal-cards;
    width: 100%;
    height: 100%;
    padding-left: 0;
    padding-top: 1.5rem;
  }
  .today-top-deals .today-top-deals-product .horizontal-cards-container .card-container {
    padding-left: 0;
    padding-bottom: 1.5rem;
  }
  .today-top-deals .today-top-deals-product .horizontal-cards-container .card-container .horizontal-card {
    box-shadow: 0px 8px 16px -4px rgba(16, 24, 40, 0.02), 4px 4px 8px -2px rgba(16, 24, 40, 0.04);
    display: grid;
    grid-template-areas: "image name name" "image name name" "image price button";
    width: 22vw;
    height: 21.7vh;
    border-radius: 0.125rem;
    background-color: #ffffff;
    padding: 1.875rem 1.5rem;
    width: 80vw;
  }
  .today-top-deals .today-top-deals-product .horizontal-cards-container .card-container .horizontal-card .product-image {
    grid-area: image;
    height: 6vh;
    width: 6vw;
  }
  .today-top-deals .today-top-deals-product .horizontal-cards-container .card-container .horizontal-card .product-image img {
    width: 6vw;
    height: 16vh;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 0.25rem;
  }
  .today-top-deals .today-top-deals-product .horizontal-cards-container .card-container .horizontal-card .product-name {
    grid-area: name;
    font-family: "Lexend Deca";
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 120%;
    text-align: left;
    padding-left: 1.5rem;
  }
  .today-top-deals .today-top-deals-product .horizontal-cards-container .card-container .horizontal-card .product-price {
    grid-area: price;
    color: #ff8a65;
    font-family: "Lexend Deca";
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 120%;
    align-self: flex-end;
    padding-left: 1.5rem;
  }
  .today-top-deals .today-top-deals-product .horizontal-cards-container .card-container .horizontal-card .product-price .RM {
    font-family: "Lexend Deca";
    font-weight: 500;
    font-size: 1rem;
    line-height: 120%;
    color: #252525;
  }
  .today-top-deals .today-top-deals-product .horizontal-cards-container .card-container .horizontal-card .button-container {
    display: flex;
    justify-content: flex-end;
  }
  .today-top-deals .today-top-deals-product .horizontal-cards-container .card-container .horizontal-card .button-container .add-to-cart-btn {
    border: none;
    border-radius: 0.25rem;
    background-color: #009688;
    height: 2.5rem;
    width: 2.5rem;
    grid-area: button;
    align-self: flex-end;
    cursor: pointer;
  }
  .today-top-deals .today-top-deals-product .horizontal-cards-container .card-container .horizontal-card .button-container .add-to-cart-btn .cart-icon {
    font-size: 1.5rem;
    color: #ffffff;
  }
  .today-top-deals .today-top-deals-product .horizontal-cards-container .card-container .horizontal-card .button-container .add-to-cart-btn:hover {
    background-color: #00796b;
  }
}/*# sourceMappingURL=home.css.map */