@import "../../Scss/colors";
@import "../../Scss/fonts";

*,
*::before,
*::after {
  margin: 0;
}

.profile-page-container {
  padding: 2.5rem 18rem;
  display: grid;
  grid-template:
    "header header header header logout"
    "main main main right right";

  h3,
  h6 {
    font-family: $primary-fonts;
  }

  .profile-page-header {
    grid-area: header;
    padding: 0 0 2rem;
  }

  .logout {
    grid-area: logout;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    cursor: pointer;
    color: $primary-color;
    padding: 0.5rem 0 1.875rem;

    p {
      font-size: 1rem;
      font-weight: map-get($map: $font-weight, $key: "semibold");
      text-decoration: underline;
    }

    p:hover {
      color: $primary-hover-dark-color;
    }
  }

  .order-history-container {
    grid-area: main;
    padding: 0 0.625rem 1.625rem 0;

    h6 {
      padding-bottom: 1.5rem;
    }

    .order-history-table-container {
      padding: 1.5rem;
      background-color: rgba(250, 250, 250, 1);
      height: 21rem;

      .order-history-table {
        border-collapse: collapse;
        width: 100%;
        font-size: 1rem;
      }

      th {
        border-bottom: 2px solid black;
        padding: 0 1rem 1rem 0;
      }

      td {
        padding-top: 0.625rem;
      }
    }
  }

  .account-details-container {
    grid-area: right;
    padding: 0 0 0.625rem 3.125rem;

    .account-details-table {
      width: 100%;
      border-collapse: collapse;

      th {
        padding: 1.875rem 0 0.625rem;
        vertical-align: bottom;
        border-bottom: 2px solid black;
        font-weight: 500;
        text-align: left;

        .credit-value {
          font-size: 2.375rem;
          font-weight: bold;
        }

        .RM {
          padding-left: 3rem;
          font-size: 1rem;
        }
      }

      td {
        padding: 0.375rem 0;
      }

      .user-name {
        padding: 0.625rem 0;
        vertical-align: bottom;
      }

      .user-name {
        font-size: 1.5rem;
        font-weight: 500;
      }

      .edit {
        text-align: right;
      }

      .edit-link {
        font-size: 1.25rem;
        font-weight: 500;
        color: black;

        &:hover {
          color: $primary-hover-dark-color;
        }
      }

      .address {
        padding: 0.188rem 0;
      }

      .view-address {
        padding: 0.813rem 0;
      }

      .view-address-link {
        color: black;

        &:hover {
          color: $primary-hover-dark-color;
        }
      }
    }
  }
}

// Tablet
@media screen and (max-width: 961px) {
  .profile-page-container {
    padding: 2.5rem 2rem;

    h3 {
      font-size: 2.25rem;
    }

    h6 {
      font-size: 1.25rem;
    }

    .account-details-container {
      padding: 0 0 0.625rem 2rem;

      .account-details-table {
        th {
          .credit-value {
            font-size: 1.75rem;
          }

          .RM {
            padding-left: 3rem;
            font-size: 1rem;
          }
        }

        .edit-link {
          font-size: 1rem;
        }
      }
    }
  }
}
