@import "../../Scss/colors";
@import "../../Scss/fonts";

// Reset All Elements
*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

@mixin nav-section {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: $white-color;
}

nav {
  height: 4.5rem;
  display: flex;
  background-color: $primary-color;
  justify-content: space-between;
  padding: 0 12rem;

  .nav-left {
    @include nav-section;
  }

  .nav-middle {
    @include nav-section;
    width: 34%;
  }

  .nav-right {
    @include nav-section;
    width: 8%;
  }

  .nav-middle ul,
  .nav-right ul {
    padding: 0;
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
  }

  .nav-middle ul li {
    font-size: 1rem;
    font-weight: 500;
    font-family: $primary-fonts;
    line-height: 120%;
  }

  .nav-middle ul li:hover {
    color: $primary-hover-color;
  }

  .nav-right ul li:hover {
    color: $primary-hover-color;
  }
}
