@import "../../Scss/colors";
@import "../../Scss/fonts";

*,
*::before,
*::after {
  margin: 0;
}

.payment-success-page-container {
  margin: 5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .container-1 {
    display: flex;
    flex-direction: column;

    .payment-success-header {
      h1 {
        font-family: "Lexend Deca";
        font-style: normal;
        font-weight: 700;
        font-size: 2.75rem;
        line-height: 120%;
        color: $primary-color;
      }
    }
    .navigation-container {
      display: flex;

      align-items: center;

      .left-icon {
        font-size: 0.625rem;
      }

      .back-btn {
        font-family: $primary-fonts;
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 120%;
        border: none;
        background-color: $white-color;

        &:hover {
          color: $secondary-color;
        }
      }
    }
    .order-summary-container {
      display: flex;
      flex-direction: column;
      margin-top: rem 0 0 0;
      background-color: #f8f9fc;
      padding: 32px 40px;
      width: 1280px;
      height: 598px;

      h2 {
        font-family: "Lexend Deca";
        font-style: normal;
        font-weight: 600;
        font-size: 1.875rem;
        line-height: 120%;
      }

      .order-form-container {
        display: flex;
        gap: 6rem;
        margin-top: 2rem 0 0 0;

        // width: 33.75rem;
        // height: 27.5rem;
        width: auto;
        height: auto;
        left: 0 0 0 5.125rem;
        top: 16.25rem 0 0 0;

        .order-form-content {
          padding: 1.688rem;
          background: $white-color;
          box-shadow: 0rem 0.5rem 1rem -0.25rem rgba(16, 24, 40, 0.04),
            0px 0.25rem 0.5rem -0.125rem rgba(16, 24, 40, 0.04);
          width: fit-content;
          height: fit-content;
          .order-form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0rem;
            gap: 1rem;
            padding-bottom: 1rem;

            label {
              font-family: "Lexend Deca";
              font-style: normal;
              font-weight: 500;
              font-size: 0.875rem;
              line-height: 120%;
            }

            .order-line-container {
              display: flex;
              flex-direction: column;
              gap: 1.25rem;

              .order-line-1 {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
              }
            }

            // .default-address {
            //   display: flex;
            //   align-content: center;
            //   gap: 4px;
            //   margin-top: 16px;
            //   margin-bottom: 16px;

            // input[type="checkbox"] {
            //   appearance: none;
            //   background-color: $white-color;
            //   margin: 0;
            //   font: inherit;
            //   color: currentColor;
            //   width: 1em;
            //   height: 1em;
            //   border: 0.15em solid currentColor;
            //   border-radius: 0.15em;
            //   transform: translateY(-0.075em);
            //   border-color: $primary-color;
            //   cursor: pointer;
            // }

            //   .checkmark {
            // font-family: "Lexend Deca";
            // font-style: normal;
            // font-weight: 500;
            // font-size: 12px;
            // line-height: 120%;
            //   }
            // }
          }
        }
      }
      .column {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        .order-form-content-1 {
          padding: 1.688rem;
          background: $white-color;
          box-shadow: 0rem 0.5rem 1rem -0.25rem rgba(16, 24, 40, 0.04),
            0px 0.25rem 0.5rem -0.125rem rgba(16, 24, 40, 0.04);
          .order-form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0rem;
            gap: 1rem;
            padding-bottom: 1rem;

            label {
              font-family: "Lexend Deca";
              align-items: flex-end;
              font-style: normal;
              font-weight: 500;
              font-size: 0.875rem;
              line-height: 120%;
            }

            .order-line-container {
              display: flex;
              flex-direction: column;
              gap: 1.25rem;

              .order-line-1 {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
              }
            }
          }
        }
        .order-form-content-2 {
          padding: 1.688rem;
          background: $white-color;
          box-shadow: 0rem 0.5rem 1rem -0.25rem rgba(16, 24, 40, 0.04),
            0px 0.25rem 0.5rem -0.125rem rgba(16, 24, 40, 0.04);
          .order-form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0rem;
            gap: 1rem;
            padding-bottom: 1rem;

            label {
              font-family: "Lexend Deca";
              font-style: normal;
              font-weight: 500;
              font-size: 0.875rem;
              line-height: 120%;
            }

            .order-line-container {
              display: flex;
              flex-direction: column;
              gap: 1.25rem;

              .order-line-1 {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
              }
            }
          }
        }
      }
    }
  }
}
