@import "../../Scss/colors";
@import "../../Scss/fonts";
@import "../../Scss/components";

*,
*::before,
*::after {
  margin: 0;
}

.payment-success {
  padding: 3rem 19.5rem;
  .payment-succes-header {
    display: flex;
    justify-content: space-between;
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 120%;
    color: $primary-color;
    .back-btn {
      @include return-button;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-weight: 500;
      padding: 0 0 0 0;

      &:hover {
        color: $primary-hover-dark-color;
      }
    }
  }
  .main-container {
    background-color: $bluegrey-tint;
    padding: 2rem 3.5rem;

    .header-order-summary {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 120%;

      margin: 0 0 1rem 0;
    }
    .content {
      display: flex;
      justify-content: space-between;

      .shipping-details-container {
        box-shadow: 0px 2px 12px -4px rgba(16, 24, 40, 0.04),
          0px 4px 6px -2px rgba(16, 24, 40, 0.04);
        border-radius: 2px;
        background-color: $white-color;

        width: fit-content;
        height: fit-content;

        .details-content {
          display: flex;
          flex-direction: column;
          padding: 1.5rem 4.05rem 1.5rem 1.5rem;

          .header-shipping-details {
            font-family: "Lexend Deca";
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 120%;

            padding: 0.5rem 0;
          }

          .content-shipping-details {
            .name {
              font-family: "Lexend Deca";
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              line-height: 120%;

              padding: 0.5rem 0;
            }
            .address {
              padding: 0.5rem 0;
              font-family: "Lexend Deca";
              font-style: normal;
              font-weight: 300;
              font-size: 14px;
              line-height: 120%;
            }
            .number {
              padding: 0.5rem 0;
              font-family: "Lexend Deca";
              font-style: normal;
              font-weight: 300;
              font-size: 16px;
              line-height: 120%;
            }
          }
        }
      }
    }
    .order-summary {
      .cart-content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 2rem;
        .product-card {
          display: grid;
          grid-template:
            "image name name name"
            "image price price price"
            "image quantity quantity quantity";

          box-shadow: 0rem 0.75rem 1rem -0.25rem rgba(16, 24, 40, 0.1),
            0rem 0.25rem 0.375rem -0.125rem rgba(16, 24, 40, 0.05);
          padding: 0.75rem;
          font-size: 1.05rem;
          width: 25.25rem;
          height: 7.13rem;
          background-color: $white-color;
          .product-image {
            grid-area: image;
            height: 5.62rem;
            width: 5.62rem;
            align-self: center;
            img {
              height: inherit;
              width: inherit;
              object-fit: cover;
            }
          }
        }
        .product-name {
          font-family: "Lexend Deca";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 120%;
          grid-area: name;
        }

        .product-price {
          font-family: "Lexend Deca";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 120%;
          grid-area: price;
        }

        .quantity {
          font-family: "Lexend Deca";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 120%;
          grid-area: quantity;
          display: flex;
          justify-content: flex-end;
          .product-quantity {
            align-self: center;
            padding: 0 1.125rem;
          }
        }
      }
      .calculation {
        padding: 5rem 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;

        .title {
          font-family: "Lexend Deca";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 120%;
        }
        .value {
          font-family: "Lexend Deca";
          font-style: normal;
          font-weight: 700;
          font-size: 28px;
          line-height: 120%;
        }

        hr {
          width: 480px;
        }
      }
    }
  }
}

//   .order-summary {
//     height: 110vh;
//     width: 25vw;
//     border-radius: 2px;
//     background-color: white;
//     box-shadow: 0rem 0.75rem 1rem -0.25rem rgba(16, 24, 40, 0.1),
//       0rem 0.25rem 0.375rem -0.125rem rgba(16, 24, 40, 0.05);

//     .cart-content {
//       padding: 0 2.5rem 1.5rem 2.5rem;
//       height: 42%;
//       overflow-x: hidden;
//       overflow-y: auto;

//       .product-card {
//         display: grid;
//         grid-template:
//           "image name name name"
//           "image price price price"
//           "image quantity quantity quantity"
//           "image del del del";
//         box-shadow: 0rem 0.75rem 1rem -0.25rem rgba(16, 24, 40, 0.1),
//           0rem 0.25rem 0.375rem -0.125rem rgba(16, 24, 40, 0.05);
//         padding: 0.75rem;
//         font-size: 1.05rem;
//         width: 25.25rem;
//         height: 7.13rem;

//         .product-image {
//           grid-area: image;
//           height: 5.62rem;
//           width: 5.62rem;
//           align-self: center;
//           img {
//             height: inherit;
//             width: inherit;
//             object-fit: cover;
//           }
//         }

// .product-name {
//   grid-area: name;
// }

// .product-price {
//   grid-area: price;
// }

// .quantity {
//   grid-area: quantity;
//   display: flex;
//   justify-content: flex-end;

//           .product-quantity {
//             align-self: center;
//             padding: 0 1.125rem;
//           }
//         }
//       }
//     }
//   }
// }

@media screen and (max-width: 37.5rem) {
  .page-container {
    padding: 2rem 3rem;
  }
}
