@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;500;700&family=Poppins:wght@300;500;700&display=swap");
h1,
h2,
h3 {
  margin-top: 0;
  font-weight: 700;
  line-height: 1.1;
}

p {
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

*,
*::before,
*::after {
  margin: 0;
}

.add-address-page-container {
  margin: 80px;
}
.add-address-page-container .my-account-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.add-address-page-container .my-account-header h1 {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 120%;
}
.add-address-page-container .add-new-address-container {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}
.add-address-page-container .add-new-address-container h2 {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
}
.add-address-page-container .add-new-address-container .address-form-container {
  flex-direction: column;
  margin-top: 32px;
  background: #ffffff;
  width: 540px;
  height: 440px;
  left: 82px;
  top: 260px;
  box-shadow: 0px 8px 16px -4px rgba(16, 24, 40, 0.04), 0px 4px 8px -2px rgba(16, 24, 40, 0.04);
}
.add-address-page-container .add-new-address-container .address-form-container .address-form-content {
  padding: 27px;
}
.add-address-page-container .add-new-address-container .address-form-container .address-form-content .address-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}
.add-address-page-container .add-new-address-container .address-form-container .address-form-content .address-form label {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
}
.add-address-page-container .add-new-address-container .address-form-container .address-form-content .address-form input {
  border-radius: 4px;
  background-color: #fafafa;
}
.add-address-page-container .add-new-address-container .address-form-container .address-form-content .address-form .postcode-and-state-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}
.add-address-page-container .add-new-address-container .address-form-container .address-form-content .address-form .postcode-and-state-container .state input {
  background-color: #fafafa;
}
.add-address-page-container .add-new-address-container .address-form-container .address-form-content .address-form .default-address .checkmark {
  background-color: #fafafa;
}
.add-address-page-container .add-new-address-container .address-form-container .address-form-content .address-form .buttons .cancel-btn {
  background-color: #009688;
}
.add-address-page-container .add-new-address-container .address-form-container .address-form-content .address-form .buttons .add-address-btn {
  background-color: #009688;
}
.add-address-page-container .navigation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;
  padding-right: 80px;
  padding-bottom: 29px;
}
.add-address-page-container .navigation-container .left-icon {
  font-size: 10px;
}
.add-address-page-container .navigation-container .back-to-shipping-details-container {
  display: flex;
  align-items: center;
}
.add-address-page-container .navigation-container .back-to-shipping-details-container .back-btn {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  border: none;
  background-color: #ffffff;
}
.add-address-page-container .navigation-container .back-to-shipping-details-container .back-btn:hover {
  color: #ff8a65;
}/*# sourceMappingURL=add-address.css.map */