@import "../../Scss/colors";
@import "../../Scss/fonts";
@import "../../Scss/components";

*,
*::before,
*::after {
  margin: 0;
}

.add-address-page-container {
  height: 46rem;
  padding: 2.5rem 18rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .container-1 {
    flex-direction: column;

    .my-account-header {
      h3 {
        font-family: $primary-fonts;
        padding: 0 0 2rem 0;
      }
    }

    .add-new-address-container {
      display: flex;
      flex-direction: column;

      h6 {
        font-family: $primary-fonts;
        padding: 0 0 2rem 0;
      }

      .address-form-container {
        background: $white-color;
        width: 540px;
        height: 500px;
        box-shadow: 0px 8px 16px -4px rgba(16, 24, 40, 0.04),
          0px 4px 8px -2px rgba(16, 24, 40, 0.04);

        .address-form-content {
          padding: 1.688rem 2.5rem 0;
          .address-form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 1rem;
            padding-bottom: 1rem;

            label {
              font-family: $primary-fonts;
              font-weight: map-get($map: $font-weight, $key: "medium");
              font-size: 0.875rem;
              line-height: 120%;
            }

            .address-line-container {
              display: flex;
              flex-direction: column;
              gap: 1rem;

              input[type="text"] {
                width: 28rem;
                height: 2.5rem;
                border-radius: 0.25rem;
                background-color: $grey-tint;
                font-family: $secondary-fonts;
                padding: 0 0 0 0.75rem;
              }

              .address-line-1,
              .address-line-2,
              .address-line-3 {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;

                .address-input {
                  font-size: 1rem;
                  background-color: $grey-tint;
                }
              }
            }

            .postcode-and-state-container {
              display: flex;
              flex-direction: row;

              input {
                width: 13rem;
                height: 2.5rem;
                border-radius: 0.25rem;
                background-color: $grey-tint;
                font-family: $secondary-fonts;
                padding: 0 0 0 0.75rem;
              }
            }

            .checkbox-container {
              display: flex;
              justify-content: space-between;
              gap: 5px;

              .default {
                display: block;
                padding-left: 26px;
                position: relative;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                // label {
                font-family: $primary-fonts;
                font-weight: map-get($map: $font-weight, $key: "medium");
                font-size: 0.9rem;
                line-height: 120%;
              }

              .default input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
              }

              .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 1.125rem;
                width: 1.125rem;
                border-radius: 0.25rem;
                border: 0.125rem solid $primary-color;
              }

              .checkmark:after {
                content: "";
                position: absolute;
                display: none;
              }

              .default:hover input ~ .checkmark {
                background-color: $grey-tint;
              }

              .default input:checked ~ .checkmark {
                background-color: $primary-color;
              }

              .default input:checked ~ .checkmark:after {
                display: block;
              }

              .default .checkmark:after {
                left: 6px;
                top: 2px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
              }
            }
          }

          .errMsg {
            padding: 1rem 0 0 0;
            p {
              font: $primary-fonts;
              font-size: 12px;
              font-weight: bold;
              color: $error-color;
            }
          }

          .updatedMsg {
            padding: 1rem 0 0 0;
            p {
              font: $primary-fonts;
              font-size: 12px;
              font-weight: bold;
              color: $primary-color;
            }
          }
          .buttons {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding: 0rem;
            gap: 3rem;

            .cancel-btn {
              background-color: transparent;
              border: none;
              font-family: $primary-fonts;
              font-weight: map-get($map: $font-weight, $key: "medium");
              font-size: 1rem;
              line-height: 120%;
              &:hover {
                color: $secondary-hover-color;
              }
            }

            .add-address-btn {
              background-color: $secondary-color;
              border: none;
              font-family: "Lexend Deca";
              font-style: normal;
              font-weight: 500;
              font-size: 1rem;
              color: $white-color;
              line-height: 120%;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              padding: 0.5rem 1.5rem;
              gap: 0.5rem;
              border-radius: 0.125rem;

              &:hover {
                background-color: $secondary-hover-color;
              }

              &:disabled,
              button[disabled] {
                background-color: $grey-color;
                color: #666666;

                pointer-events: none;
              }
            }
          }
        }
      }
    }
  }

  .navigation-container {
    justify-items: flex-end;
    padding-top: 1.5rem;

    .return {
      display: flex;
      justify-content: flex-end;
      cursor: pointer;

      p {
        font-family: $primary-fonts;
        font-size: 1rem;
        font-weight: map-get($map: $font-weight, $key: "medium");
        line-height: 120%;
        padding-bottom: 1.813rem;
        align-items: center;
      }

      svg {
        font-size: 1.25rem;
        align-items: center;
      }
    }
    .return:hover,
    svg:hover {
      color: $primary-hover-dark-color;
    }
  }
}

// Tablet
@media screen and (max-width: 961px) {
  .add-address-page-container {
    padding: 2.5rem 2rem;

    .container-1 {
      .my-account-header {
        h3 {
          font-size: 2.25rem;
        }
      }

      .add-new-address-container {
        h6 {
          font-size: 1.25rem;
        }
      }
    }

    .navigation-container {
      padding-top: 1rem;
    }
  }
}
