@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;500;700&family=Poppins:wght@300;500;700&display=swap");
h1 {
  margin: 0;
  line-height: 120%;
  font-weight: 700;
  font-size: 4rem;
}

h2 {
  margin: 0;
  line-height: 120%;
  font-weight: 700;
  font-size: 3.5rem;
}

h3 {
  margin: 0;
  line-height: 120%;
  font-weight: 700;
  font-size: 2.75rem;
}

h4 {
  margin: 0;
  line-height: 120%;
  font-weight: 700;
  font-size: 2.125rem;
}

h5 {
  margin: 0;
  line-height: 120%;
  font-weight: 700;
  font-size: 2rem;
}

h6 {
  margin: 0;
  line-height: 120%;
  font-weight: 700;
  font-size: 1.75rem;
}

p {
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: #252525;
}

a:hover {
  color: #009688;
}

*,
*::before,
*::after {
  margin: 0;
}

p {
  text-align: justify;
}

.sign-up-page-container {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-evenly;
  text-align: left;
  background-color: #f5f5f5;
  height: calc(100vh - 4.5rem);
}
.sign-up-page-container .sign-up-container {
  grid-column: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.sign-up-page-container .sign-up-container .sign-up-container-content {
  align-self: center;
  background-color: white;
  width: 28.75rem;
  height: 43.75rem;
  box-shadow: 0rem 0.75rem 1rem -0.25rem rgba(16, 24, 40, 0.1), 0rem 0.25rem 0.375rem -0.125rem rgba(16, 24, 40, 0.05);
  border-radius: 0.5rem;
  padding: 3.75rem;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .sign-up-form-title {
  font-family: "Lexend Deca";
  font-size: 2.375rem;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .sign-up-form-table {
  padding-top: 1.25rem;
  font-size: 0.875rem;
  font-family: "Lexend Deca";
  font-weight: 500;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .sign-up-form-table .left-col-line-1 {
  padding: 0 0.625rem 0.25rem 0;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .sign-up-form-table .right-col-line-1 {
  padding: 0 0 0.25rem 0.625rem;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .sign-up-form-table .left-col-line-2 {
  padding: 1rem 0.625rem 0.25rem 0;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .sign-up-form-table .right-col-line-2 {
  padding: 1rem 0 0.25rem 0.625rem;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .sign-up-form-table .left-col {
  padding: 0 0.625rem 0 0;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .sign-up-form-table .right-col {
  padding: 0 0 0 0.625rem;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .form-group-mt-3 {
  font-family: "Lexend Deca";
  font-weight: 500;
  font-size: 0.875rem;
  padding: 0.75rem 0 0.25rem;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .form-control-mt-1 {
  background-color: #eeeeee;
  border-radius: 0.25rem;
  height: 2.5rem;
  width: 100%;
  font-size: 1rem;
  padding: 0.375rem;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .d-grid-gap-2-mt-3 {
  padding: 1.5rem 0;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .signup-signin-btn {
  font-family: "Lexend Deca";
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.625rem 4.625rem;
  gap: 0.5rem;
  height: 2.5rem;
  width: 100%;
  background-color: #009688;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .sign-in-text-center {
  width: 100%;
  font-size: 1rem;
  font-family: "Poppins";
  font-weight: 300;
  text-align: center;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .signin-link {
  color: #009688;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .line-or-box {
  display: table;
  width: 100%;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .line-1 {
  width: 9rem;
  border: 0.125rem solid #009688;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .white-padding {
  height: 50%;
  display: table-cell;
  padding: 0.625rem;
  background-color: white;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .or-box {
  color: #ffffff;
  display: table-cell;
  align-items: center;
  width: 2rem;
  height: 1.75rem;
  padding: 0.25rem;
  gap: 0.25rem;
  background: #009688;
  border: 0.063rem solid #009688;
  border-radius: 0.188rem;
  font-family: "Lexend Deca";
  font-size: 1rem;
  font-weight: 500;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .login-apps-container {
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
  align-items: center;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .login-apps {
  display: table;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .login-apps .login-apps-icons {
  display: table-cell;
  font-size: 1.5rem;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .login-apps .login-apps-icons svg {
  color: #252525;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .tnc {
  display: block;
  position: relative;
  padding: 0 0 0 1.625rem;
  margin: 0.5rem 0 0 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 0.875rem;
  font-family: "Lexend Deca";
  font-weight: 500;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .tnc input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: 0.125rem solid #009688;
  border-radius: 4px;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .tnc:hover input ~ .checkmark {
  background-color: #fafafa;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .tnc input:checked ~ .checkmark {
  background-color: #009688;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .tnc input:checked ~ .checkmark:after {
  display: block;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .tnc .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .tnc-link {
  color: #009688;
  text-decoration: underline;
}
.sign-up-page-container .signup-image-container {
  grid-column: 2;
  display: flex;
  flex-wrap: wrap;
  width: 49.6vw;
}
.sign-up-page-container .signup-image-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}/*# sourceMappingURL=signup.css.map */