@import "../../Scss/colors";
@import "../../Scss/fonts";

*,
*::before,
*::after {
  margin: 0;
}

p {
  text-align: justify;
}

.sign-up-page-container {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-evenly;
  text-align: left;
  background-color: #f5f5f5;
  height: calc(100vh - 4.5rem);

  .sign-up-container {
    grid-column: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    .sign-up-container-content {
      align-self: center;
      background-color: white;
      width: 28.75rem;
      height: 43.75rem;
      box-shadow: 0rem 0.75rem 1rem -0.25rem rgba(16, 24, 40, 0.1),
        0rem 0.25rem 0.375rem -0.125rem rgba(16, 24, 40, 0.05);
      border-radius: 0.5rem;
      padding: 3.75rem;

      .sign-up-form-content {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: left;

        .sign-up-form-title {
          font-family: $primary-fonts;
          font-size: 2.375rem;
        }

        .sign-up-form-table {
          padding-top: 1.25rem;
          font-size: 0.875rem;
          font-family: $primary-fonts;
          font-weight: map-get($map: $font-weight, $key: "medium");

          .left-col-line-1 {
            padding: 0 0.625rem 0.25rem 0;
          }

          .right-col-line-1 {
            padding: 0 0 0.25rem 0.625rem;
          }

          .left-col-line-2 {
            padding: 1rem 0.625rem 0.25rem 0;
          }

          .right-col-line-2 {
            padding: 1rem 0 0.25rem 0.625rem;
          }

          .left-col {
            padding: 0 0.625rem 0 0;
          }

          .right-col {
            padding: 0 0 0 0.625rem;
          }
        }

        .form-group-mt-3 {
          font-family: $primary-fonts;
          font-weight: map-get($map: $font-weight, $key: "medium");
          font-size: 0.875rem;
          padding: 0.75rem 0 0.25rem;
        }

        .form-control-mt-1 {
          background-color: #eeeeee;
          border-radius: 0.25rem;
          height: 2.5rem;
          width: 100%;
          font-size: 1rem;
          padding: 0.375rem;

          .MuiSelect-select {
            padding-right: 0;
            min-width: 4.899rem;
          }
        }

        .d-grid-gap-2-mt-3 {
          padding: 1.5rem 0;
        }

        .signup-signin-btn {
          font-family: $primary-fonts;
          font-weight: map-get($map: $font-weight, $key: "medium");
          font-size: 1rem;
          color: $white-color;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 0.625rem 4.625rem;
          gap: 0.5rem;
          height: 2.5rem;
          width: 100%;
          background-color: $primary-color;
          border-radius: 0.25rem;
          border: none;
          cursor: pointer;

          &:disabled,
          button[disabled] {
            border: 1px solid #999999;
            background-color: #cccccc;
            color: #666666;

            pointer-events: none;
          }
        }

        .sign-in-text-center {
          width: 100%;
          font-size: 1rem;
          font-family: $secondary-fonts;
          font-weight: map-get($map: $font-weight, $key: "light");
          text-align: center;
        }

        .signin-link {
          color: $primary-color;
        }

        .line-or-box {
          display: table;
          width: 100%;
        }

        .line-1 {
          width: 9rem;
          border: 0.125rem solid $primary-color;
        }

        .white-padding {
          height: 50%;
          display: table-cell;
          padding: 0.625rem;
          background-color: white;
        }

        .or-box {
          color: $white-color;
          display: table-cell;
          align-items: center;
          width: 2rem;
          height: 1.75rem;
          padding: 0.25rem;
          gap: 0.25rem;
          background: $primary-color;
          border: 0.063rem solid $primary-color;
          border-radius: 0.188rem;
          font-family: $primary-fonts;
          font-size: 1rem;
          font-weight: map-get($map: $font-weight, $key: "medium");
        }

        .login-apps-container {
          display: flex;
          justify-content: space-evenly;
          align-content: space-evenly;
          align-items: center;
        }

        .login-apps {
          display: table;

          .login-apps-icons {
            display: table-cell;
            font-size: 1.5rem;

            svg {
              color: $black-color;
            }
          }
        }

        .tnc {
          display: block;
          position: relative;
          padding: 0 0 0 1.625rem;
          margin: 0.5rem 0 0 0;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          font-size: 0.875rem;
          font-family: $primary-fonts;
          font-weight: map-get($map: $font-weight, $key: "medium");
        }

        .tnc input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }

        .errMsg {
          padding: 1rem 0 0 0;
          p {
            font: $primary-fonts;
            font-size: 12px;
            font-weight: bold;
            color: $error-color;
          }
        }

        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 18px;
          width: 18px;
          border: 0.125rem solid $primary-color;
          border-radius: 4px;
        }

        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }

        .tnc:hover input ~ .checkmark {
          background-color: $grey-tint;
        }

        .tnc input:checked ~ .checkmark {
          background-color: $primary-color;
        }

        .tnc input:checked ~ .checkmark:after {
          display: block;
        }

        .tnc .checkmark:after {
          left: 5px;
          top: 1px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        .tnc-link {
          color: $primary-color;
          text-decoration: underline;
        }
      }
    }
  }

  .signup-image-container {
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    width: 49.6vw;

    img {
      object-fit: cover;
      width: 100%;
    }
  }
}
