p {
  text-align: justify;
}

.sign-up-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  text-align: left;
  background-color: #f5f5f5;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up-form-content {
  background-color: white;
  width: 400px;
  height: 620px;
  left: 141px;
  top: 108px;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.1),
    0px 4px 6px -2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 5rem;
}

.sign-up-form-title {
  font-family: "Lexend Deca";
  font-size: 38px;
}

.form-group-mt-3 {
  font-family: "Lexend Deca";
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.form-control-mt-1 {
  background-color: #eeeeee;
  border-radius: 4px;
  height: 40px;
  width: 310px;
}

.d-grid-gap-2-mt-3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.signup-signin-btn {
  font-family: "Lexend Deca";
  font-size: 14px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 74px;
  gap: 8px;
  height: 40px;
  width: 310px;
  background-color: #009688;
  border-radius: 4px;
}

.sign-in-text-center {
  padding: 5px;
  text-align: center;
}

.signin-link {
  color: #009688;
}
