@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;500;700&family=Poppins:wght@300;500;700&display=swap");
h1,
h2,
h3 {
  margin-top: 0;
  font-weight: 700;
  line-height: 1.1;
}

p {
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

*,
*::before,
*::after {
  margin: 0;
}

p {
  text-align: justify;
}

.sign-up-page-container {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-evenly;
  text-align: left;
  background-color: #f5f5f5;
}
.sign-up-page-container .sign-up-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.sign-up-page-container .sign-up-container .sign-up-container-content {
  grid-column: 1;
  justify-content: center;
  align-self: center;
  background-color: white;
  width: 400px;
  height: 620px;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.1), 0px 4px 6px -2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 5rem;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .sign-up-form-title {
  font-family: "Lexend Deca";
  font-size: 38px;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .form-group-mt-3 {
  font-family: "Lexend Deca";
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .form-control-mt-1 {
  background-color: #eeeeee;
  border-radius: 4px;
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 6px;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .d-grid-gap-2-mt-3 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .signup-signin-btn {
  font-family: "Lexend Deca";
  font-size: 18px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 74px;
  gap: 8px;
  height: 40px;
  width: 100%;
  background-color: #009688;
  border-radius: 4px;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .sign-in-text-center {
  padding: 5px;
  text-align: center;
  width: 310px;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .signin-link {
  color: #009688;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .line-or-box {
  display: table;
  width: 100%;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .line-1 {
  width: 128px;
  height: 0px;
  border: 2px solid #009688;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .white-padding {
  display: table-cell;
  padding: 10px;
  background-color: white;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .or-box {
  color: white;
  display: table-cell;
  align-items: center;
  width: 32px;
  height: 28px;
  padding: 4px;
  gap: 4px;
  background: #009688;
  border: 1px solid #009688;
  border-radius: 3px;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .login-apps-container {
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
  align-items: center;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .login-apps {
  display: table;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .login-apps .login-apps-icons {
  display: table-cell;
  font-size: 2.5rem;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .login-apps .login-apps-icons svg {
  color: black;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .tnc {
  display: block;
  position: relative;
  padding-left: 26px;
  margin-top: 16px;
  margin-bottom: 8px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 16px;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .tnc input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 4px;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .tnc:hover input ~ .checkmark {
  background-color: #ccc;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .tnc input:checked ~ .checkmark {
  background-color: #009688;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .tnc input:checked ~ .checkmark:after {
  display: block;
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .tnc .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.sign-up-page-container .sign-up-container .sign-up-container-content .sign-up-form-content .tnc-link {
  color: #009688;
  text-decoration: underline;
}
.sign-up-page-container .signup-image-container {
  grid-column: 2;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.sign-up-page-container .signup-image-container > img {
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=signup.css.map */