$primary-color: #009688;
$secondary-color: #ff8a65;
$black-color: #252525;
$white-color: #ffffff;
$error-color: #f04438;
$warning-color: #fedf89;
$grey-tint: #fafafa;
$bluegrey-tint: #f8f9fc;
$primary-hover-color: #b2dfdb;
