@import "../Scss/colors";
@import "../Scss/fonts";

@mixin return-button {
  font-family: $primary-fonts;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  border: none;
  background-color: $white-color;

  &:hover {
    color: $primary-hover-color;
  }
}
