@import "./colors";

@mixin card-drop-shadow {
  box-shadow: 0px 8px 16px -4px rgba(16, 24, 40, 0.02),
    4px 4px 8px -2px rgba(16, 24, 40, 0.04);
}

@mixin side-nav-shadow {
  box-shadow: 10px 0px 16px -4px rgba(16, 24, 40, 0.04),
    4px 0px 8px -2px rgba(16, 24, 40, 0.04);
}

@mixin vertical-card {
  @include card-drop-shadow;
  display: grid;
  grid-template-areas:
    "image image image"
    "name name name"
    "price price button";
  width: 25.75rem;
  height: 43.375rem;
  border-radius: 0.125rem;
  background-color: $white-color;
  padding: 33px 26px 66px 26px;

  .product-image {
    grid-area: image;
    img {
      width: 22.5rem;
      height: 27.438rem;
      object-fit: cover;
      border-radius: 0.25rem;
    }
  }

  .product-name {
    grid-area: name;
    font-family: $primary-fonts;
    font-size: 26px;
    font-weight: map-get($map: $font-weight, $key: "medium");
    line-height: 120%;
  }

  .product-price {
    grid-area: price;
    align-self: flex-end;
    color: $secondary-color;
    font-family: $primary-fonts;
    font-size: 1.75rem;
    font-weight: map-get($map: $font-weight, $key: "bold");
    line-height: 120%;

    .RM {
      font-family: $primary-fonts;
      font-size: 1.25rem;
      font-weight: map-get($map: $font-weight, $key: "medium");
      color: $black-color;
    }
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    .add-to-cart-btn {
      border: none;
      border-radius: 0.25rem;
      background-color: $primary-color;
      height: 4rem;
      width: 4rem;
      grid-area: button;
      align-self: flex-end;

      .cart-icon {
        color: $white-color;
        font-size: 2 rem;
      }
    }
  }
}

@mixin small-horizontal-card {
  @include card-drop-shadow;
  display: grid;
  grid-template-areas:
    "image name name"
    "image name name"
    "image price button";
  width: 23.75rem;
  height: 13.125rem;
  border-radius: 0.125rem;
  background-color: $white-color;
  padding: 1.875rem 1.5rem;

  .product-image {
    grid-area: image;
    img {
      width: 7.5rem;
      height: 9.375rem;
      object-fit: cover;
      border-radius: 0.25rem;
    }
  }

  .product-name {
    grid-area: name;
    font-family: $primary-fonts;
    font-weight: map-get($map: $font-weight, $key: "medium");
    font-size: 1.125rem;
    line-height: 120%;
    text-align: left;
    padding-left: 1.5rem;
  }

  .product-price {
    grid-area: price;
    color: $secondary-color;
    font-family: $primary-fonts;
    font-weight: map-get($map: $font-weight, $key: "bold");
    font-size: 1.5rem;
    line-height: 120%;
    align-self: flex-end;
    padding-left: 1.5rem;

    .RM {
      font-family: $primary-fonts;
      font-weight: map-get($map: $font-weight, $key: "medium");
      font-size: 1rem;
      line-height: 120%;
      color: $black-color;
    }
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    .add-to-cart-btn {
      border: none;
      border-radius: 0.25rem;
      background-color: $primary-color;
      height: 2.5rem;
      width: 2.5rem;
      grid-area: button;
      align-self: flex-end;

      .cart-icon {
        font-size: 1.5rem;
        color: $white-color;
      }
    }
  }
}

@mixin medium-horizontal-card {
  @include card-drop-shadow;
  display: grid;
  grid-template-areas:
    "image name name"
    "image name name"
    "image price button";
  width: 28.75rem;
  height: 13.125rem;
  border-radius: 0.125rem;
  background-color: $white-color;
  padding: 1.875rem 2.313rem;

  .product-image {
    grid-area: image;
    img {
      width: 7.5rem;
      height: 9.375rem;
      object-fit: cover;
      border-radius: 0.25rem;
    }
  }

  .product-name {
    grid-area: name;
    font-family: $primary-fonts;
    font-weight: map-get($map: $font-weight, $key: "medium");
    font-size: 1.25rem;
    line-height: 120%;
    text-align: left;
    padding-left: 2rem;
  }

  .product-price {
    grid-area: price;
    color: $secondary-color;
    font-family: $primary-fonts;
    font-weight: map-get($map: $font-weight, $key: "bold");
    font-size: 1.5rem;
    line-height: 120%;
    align-self: flex-end;
    padding-left: 2rem;

    .RM {
      font-family: $primary-fonts;
      font-weight: map-get($map: $font-weight, $key: "medium");
      font-size: 1rem;
      line-height: 120%;
      color: $black-color;
    }
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    .add-to-cart-btn {
      border: none;
      border-radius: 0.25rem;
      background-color: $primary-color;
      height: 2.5rem;
      width: 2.5rem;
      grid-area: button;
      align-self: flex-end;

      .cart-icon {
        font-size: 1.5rem;
        color: $white-color;
      }
    }
  }
}

@mixin large-horizontal-card {
  @include card-drop-shadow;
  width: 45rem;
  height: 15.5rem;
  display: grid;
  grid-template-areas:
    "image name name"
    "image price button";
  grid-template-columns: 45% 27.5% 27.5%;
  grid-template-rows: 50% 50%;
  border-radius: 0.125rem;
  background-color: $white-color;
  padding: 1.125rem 1.313rem;

  .product-image {
    grid-area: image;
    img {
      width: 17.875rem;
      height: 13.25rem;
      object-fit: cover;
      border-radius: 0.25rem;
    }
  }

  .product-name {
    grid-area: name;
    font-family: $primary-fonts;
    font-size: 1.5rem;
    font-weight: map-get($map: $font-weight, $key: "medium");
    line-height: 120%;
    text-align: left;
    align-self: center;
  }

  .product-price {
    grid-area: price;
    font-family: $primary-fonts;
    font-size: 2rem;
    font-weight: map-get($map: $font-weight, $key: "bold");
    line-height: 120%;
    align-self: flex-end;
    color: $secondary-color;

    .RM {
      font-size: 1.5rem;
      font-weight: map-get($map: $font-weight, $key: "medium");
      color: $black-color;
      line-height: 120%;
    }
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    .add-to-cart-btn {
      border: none;
      border-radius: 0.25rem;
      background-color: $primary-color;
      height: 4rem;
      width: 4rem;
      grid-area: button;
      align-self: flex-end;

      .cart-icon {
        color: $white-color;
        font-size: 2rem;
      }
    }
  }
}

@mixin category-card {
  @include card-drop-shadow;
  width: 31.5rem;
  height: 15.5rem;
  border-radius: 0.125rem;
  background-color: $white-color;
}

@mixin category-card-wrapper {
  width: 31.5rem;
  height: 15.5rem;
  border-radius: 0.125rem;
  background-color: $black-color;
}

@mixin carousel-holder {
  width: 61.75rem;
  height: 22rem;
  border-radius: 0.25rem;
}

@mixin return-button {
  font-family: $primary-fonts;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 120%;
  border: none;
  background-color: $white-color;
  color: $black-color;

  &:hover {
    color: $secondary-color;
  }
}
